#employee-management { margin: { bottom: nth( map-get( $mar, sections ), 2 ); top: 1.4rem };
  & > .content-container { @include set-grid( $grid: $default-grid );
    @include heading-4;
    & > .content-body {
      & > .tables-list {
        & > li {
          &:not( :last-child ) { margin-bottom: nth( map-get( $mar, sections ), 1 ) }
          & .employee-table { @include box-1( 999px, 28rem );
            & > .heading-container { @include column-flex( center );
              & .username-container { width: 95%; @include container-3( center, 1.5rem, 1.5rem .8rem );
                & .username {
                  & .forename, & .surname {
                    @media ( max-width: o-px-to-abs-em( 999px ) ) { display: inline } } }
                & .arrow-container {
                  & .darr {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { width: 1.4rem; height: .7rem }
                    @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 1.3rem }
                    @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 1.1rem; height: .6rem } } } } }
            & > .content-body { background-color: white; @include row-flex;
              @media ( max-width: o-px-to-abs-em( 699px ) ) { flex-direction: column }
              & .data-list { flex-basis: 90%; padding: 2.5rem 0 2.5rem 1.5rem; @include list-2( $dd-f-size: 2.1rem 1.8rem );
                @media ( max-width: o-px-to-abs-em( 699px ) ) { padding-left: 0; text-align: center } }
              & .options-list { flex-grow: 1; min-width: 40rem; padding: 3.2rem 2rem 1.6rem; border-left: unquote( nth( $bor, 1 ) ); @include row-flex( space-evenly, flex-start, wrap );
                @media ( max-width: o-px-to-abs-em( 699px ) ) { box-sizing: border-box; width: 100%; min-width: unset; border: { left: none; top: unquote( nth( $bor, 1 ) ) } }
                & li { flex-basis: 25%;
                  @media ( max-width: o-px-to-abs-em( 449px ) ) { flex-basis: 33.3% }
                  @media ( max-width: o-px-to-abs-em( 399px ) ) { flex-basis: 50% }
                  &:nth-child( -n + 4 ) {
                    @media( min-width: o-px-to-abs-em( 450px ) ) { margin-bottom: 3.5rem }
                    @media( min-width: o-px-to-abs-em( 700px ) ) { margin-bottom: 2rem } }
                  &:nth-child( -n + 6 ) {
                    @media( max-width: o-px-to-abs-em( 449px ) ) { margin-bottom: 4.5rem } }
                  &:nth-child( n + 7 ) {
                    @media( max-width: o-px-to-abs-em( 449px ) ) { flex-basis: 50% }
                    & .image-container {
                      @media( max-width: o-px-to-abs-em( 449px ) ) { max-width: 15rem } } }
                  & .image-container { text-align: center; max-width: 9rem; margin: 0 auto;
                    & .option { @include shape-square( 3.6rem, nth( $c-2, 3 ), $rounded: nth( $br, 1 ) ); margin-bottom: .8rem; cursor: pointer;
                      & img { @include img-center } }
                    & .legend { font: { size: 1.4rem; weight: 400 }; line-height: 1.25 } } } } } } } } } } }
