#manage-waitlist { margin-bottom: nth( map-get( $mar, sections ), 1 );
  & > .content-container { @include set-default-grid;
    & > .box-container { @include container-1( 3.6rem );
      @include title-1( $icon-width: 2.4rem 2.4rem 2.3rem 2.3rem );
      & > .content-body {
        & .date-container { @include container-2; margin-bottom: 1.2rem }
        & [ name="waitlist-form" ] { @include row-flex( $wrap: wrap ); margin-bottom: 2.6rem;
          @media ( max-width: o-px-to-abs-em( 499px ) ) { justify-content: center }
          & > .input-set { min-width: 16rem; flex-grow: 1; max-width: 32rem;
            @media ( max-width: o-px-to-abs-em( 999px ) ) { flex-basis: 45%; max-width: 40rem }
            @media ( max-width: o-px-to-abs-em( 499px ) ) { flex-basis: 100% }
            &:not( :last-child ) { margin-right: .8rem;
              @media ( max-width: o-px-to-abs-em( 999px ) ) { margin-right: 0 }
              @media ( max-width: o-px-to-abs-em( 499px ) ) { margin-bottom: 2rem } }
            &:nth-child( -n + 2 ) {
              @media ( max-width: o-px-to-abs-em( 999px ) ) and ( min-width: 500px ) { margin-bottom: 2rem } }
            &:nth-child( 2n + 1 ) {
              @media ( max-width: o-px-to-abs-em( 999px ) ) and ( min-width: 500px ) { margin-right: .8rem } }
            @include input-set-1;
            & > label { display: none } } }
        & .form-results {
          & .results-list {
            & > li {
              &:not( :last-child ) { margin-bottom: 3rem }
              & .wailist-user { @include box-1( 1149px, 15rem );
                & > .heading-container { @include column-flex( center );
                  & .username-container { @include container-3( center, 1.5rem );
                    & .username {
                      & .forename, & .surname {
                        @media ( max-width: o-px-to-abs-em( 1149px ) ) { display: inline } } } } }
                & > .content-body {
                  & .data-list { @include data-list-1 } }
                &[ class~="highlight" ] {
                  & .heading-container { background-color: nth( $c-3, 1 );
                    & .username-container { color: nth( $c-3, 2 ) } } } } } } } } } } }
