@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
/* Elementos */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul, menu { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }

input, textarea, select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; background-color: transparent; }

template { display: none; }

/* Atributos & Classes */
[tabindex] { outline: none; }

.line { display: block; }

/* Pré-Configurações do Site */
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.otf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../../../multimedia/fonts/montserrat/montserrat-thin.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-thin.ttf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.ttf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Light"), local("Montserrat-Light"), url("../../../multimedia/fonts/montserrat/montserrat-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-light.ttf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../../multimedia/fonts/montserrat/montserrat-regular.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-regular.ttf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../../multimedia/fonts/montserrat/montserrat-medium.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-medium.ttf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.ttf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../../multimedia/fonts/montserrat/montserrat-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.ttf"); font-weight: 800; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Black"), local("Montserrat-Black"), url("../../../multimedia/fonts/montserrat/montserrat-black.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-black.ttf"); font-weight: 900; font-style: normal; font-stretch: normal; }
/*---- Grades ----*/
/*---- Filtros ----*/
/*---- Componentes ----*/
/*---- Boxes Container ----*/
/*---- Boxes List ----*/
/*---- Data List ----*/
/*---- Data Tables ----*/
/* Configurações Locais */
body { font: 1.6rem/1 "Source Sans Pro", sans-serif; color: #616161; background-color: whitesmoke; }
body #top-content ::-webkit-scrollbar { width: .8rem; height: .8rem; }
body #top-content ::-webkit-scrollbar-thumb { background-image: linear-gradient( 145deg, #4788ff 60%, #315db4 ); border-radius: 0.6rem; -webkit-box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); }
body #top-content ::-webkit-scrollbar-track { background-color: #e3e3e3; }
body #top-content ::-webkit-scrollbar-corner { background-color: #e3e3e3; }

/* Componentes */
#top-header .menu-bar { background-color: white; -webkit-box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); }
#top-header .menu-bar .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 1.2rem 1.5rem 1.2rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container .logo { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #top-header .menu-bar .content-container .buttons-set { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #top-header .menu-bar .content-container [name$='menu-search'] { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
#top-header .menu-bar .content-container .logo { margin-right: 2.5rem; -webkit-transform: translateX(-0.7rem); transform: translateX(-0.7rem); }
#top-header .menu-bar .content-container [name$="menu-search"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 50rem; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container [name$="menu-search"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: none; margin-top: 2.5rem; } }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] { margin-right: 1rem; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe:hover, #top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"] { font-size: 1.6rem; height: 2rem; background-color: transparent; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-webkit-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus:-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::placeholder { opacity: 0; }
#top-header .menu-bar .content-container .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 28rem; margin-left: 3rem; }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-left: 1.5rem; } }
@media (max-width: 46.8125em) { #top-header .menu-bar .content-container .buttons-set button { max-width: 2rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button { margin-right: 1.5rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button[name="help"], #top-header .menu-bar .content-container .buttons-set button[name="history"] { display: none; } }
#top-header .menu-bar .content-container .buttons-set button .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container .buttons-set button .icon:hover, #top-header .menu-bar .content-container .buttons-set button .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; cursor: pointer; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon:hover, #top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .menu-container { position: absolute; height: 0; overflow: hidden; }

#schedule-management { margin-bottom: 10.5rem; margin-top: 4rem; }
#schedule-management > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
#schedule-management > .content-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 3.5rem; }
@media (max-width: 49.9375em) { #schedule-management > .content-container > .heading-container { margin-bottom: 2.5rem; } }
@media (max-width: 37.4375em) { #schedule-management > .content-container > .heading-container { margin-bottom: 1.8rem; } }
#schedule-management > .content-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.3; }
@media (max-width: 62.4375em) { #schedule-management > .content-container > .heading-container .title-container .title { font-size: 2.8rem; } }
@media (max-width: 49.9375em) { #schedule-management > .content-container > .heading-container .title-container .title { font-size: 2.4rem; } }
@media (max-width: 37.4375em) { #schedule-management > .content-container > .heading-container .title-container .title { font-size: 2rem; } }
#schedule-management > .content-container > .heading-container .title-container .title .complement { font-weight: 300; }
@media (max-width: 28.0625em) { #schedule-management > .content-container > .heading-container .title-container .title .complement { display: block; } }
#schedule-management > .content-container > .heading-container .buttons-set button { display: inline-block; font-size: 2.6rem; font-weight: 700; color: #4788ff; padding: 1.2rem 8rem; background-color: #dbe8ff; border-radius: 0.6rem; font-family: "Montserrat", sans-serif; -webkit-box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); }
@media (max-width: 62.4375em) { #schedule-management > .content-container > .heading-container .buttons-set button { font-size: 2rem; } }
@media (max-width: 49.9375em) { #schedule-management > .content-container > .heading-container .buttons-set button { font-size: 1.8rem; } }
@media (max-width: 37.4375em) { #schedule-management > .content-container > .heading-container .buttons-set button { font-size: 1.4rem; } }
@media (max-width: 62.4375em) { #schedule-management > .content-container > .heading-container .buttons-set button { padding: 1rem 6rem; -webkit-box-shadow: 0 .2rem .5rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .5rem hsla( 0, 0%, 0%, .25 ); } }
@media (max-width: 49.9375em) { #schedule-management > .content-container > .heading-container .buttons-set button { padding: 0.9rem 4rem; } }
@media (max-width: 37.4375em) { #schedule-management > .content-container > .heading-container .buttons-set button { padding: .8rem 2rem; -webkit-box-shadow: 0 .1rem .2rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .1rem .2rem hsla( 0, 0%, 0%, .25 ); } }
@media (max-width: 0em) { #schedule-management > .content-container > .heading-container .buttons-set button { padding: 0; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; font-size: 1.2rem; font-weight: 500; } }
@media (max-width: 23.6875em) { #schedule-management > .content-container > .heading-container .buttons-set button { padding: 1rem; } }
#schedule-management > .content-container > .content-body .schedule-table { display: block; width: 100%; font-size: 1.4rem; cursor: default; overflow: auto; }
#schedule-management > .content-container > .content-body .schedule-table .days { display: block; position: -webkit-sticky; position: sticky; top: 0; z-index: 2; }
#schedule-management > .content-container > .content-body .schedule-table .days tr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; background-color: white; }
@media (max-width: 74.9375em) { #schedule-management > .content-container > .content-body .schedule-table .days tr { width: moz-fit-content; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; } }
#schedule-management > .content-container > .content-body .schedule-table .days tr:not(:last-child) > *, #schedule-management > .content-container > .content-body .schedule-table .days tr:only-child > * { border-bottom: solid 0.2rem #ededed; }
#schedule-management > .content-container > .content-body .schedule-table .days tr > * { min-height: 3.5rem; padding: 1.6rem .9rem; }
#schedule-management > .content-container > .content-body .schedule-table .days tr > *:not(:last-child) { border-right: solid .2rem #ededed; }
#schedule-management > .content-container > .content-body .schedule-table .days tr > :first-child { -ms-flex-negative: 0; flex-shrink: 0; width: 7rem; font-weight: 400; position: -webkit-sticky; position: sticky; z-index: 1; left: 0; background-color: white; }
#schedule-management > .content-container > .content-body .schedule-table .days tr > :not(:first-child) { -webkit-box-flex: 1; -ms-flex: 1 1 13%; flex: 1 1 13%; min-width: 13rem; font-weight: 400; }
#schedule-management > .content-container > .content-body .schedule-table .days tr th { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: normal; align-content: normal; }
#schedule-management > .content-container > .content-body .schedule-table .days tr th .day .day-of-week { text-transform: uppercase; }
#schedule-management > .content-container > .content-body .schedule-table .days tr th .day .day-of-month { font-size: 1.8rem; font-weight: 700; }
#schedule-management > .content-container > .content-body .schedule-table .appointments { display: block; max-height: 50rem; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; background-color: white; }
@media (max-width: 74.9375em) { #schedule-management > .content-container > .content-body .schedule-table .appointments tr { width: moz-fit-content; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; } }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr:not(:last-child) > *, #schedule-management > .content-container > .content-body .schedule-table .appointments tr:only-child > * { border-bottom: solid 0.2rem #ededed; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr > * { min-height: 6.5rem; padding: 1.6rem .9rem; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr > *:not(:last-child) { border-right: solid .2rem #ededed; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr > :first-child { -ms-flex-negative: 0; flex-shrink: 0; width: 7rem; font-weight: 400; position: -webkit-sticky; position: sticky; z-index: 1; left: 0; background-color: white; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr > :not(:first-child) { -webkit-box-flex: 1; -ms-flex: 1 1 13%; flex: 1 1 13%; min-width: 13rem; font-weight: 400; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr th { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td { cursor: pointer; -webkit-transition: background-color 0.3s ease-out; transition: background-color 0.3s ease-out; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td:last-child { -ms-flex-negative: 1; flex-shrink: 1; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td:active { background-color: #d1dfeb; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td[class~="filled"] { background-color: #bbd0e2; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td[class~="filled"]:active { background-color: #a6c2d9; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td .appointment .title { font-size: 1.6rem; font-weight: 700; margin-bottom: 1rem; cursor: inherit; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td .appointment .range { text-transform: uppercase; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td .appointment .range .beginning { display: block; margin-bottom: .5rem; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td .appointment .range .beginning::after { content: " –"; }
#schedule-management > .content-container > .content-body .schedule-table .appointments tr td .appointment .range .end { display: block; }

#config-event-modal { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 2; background-color: rgba(0, 0, 0, 0.65); visibility: hidden; opacity: 0; -webkit-transition: opacity 1.2s ease-in-out; transition: opacity 1.2s ease-in-out; }
#config-event-modal > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 112rem; padding: 0 3rem 0; margin: 0 auto 0; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
@media (max-width: 40.5625em) { #config-event-modal > .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 34.3125em) { #config-event-modal > .content-container { padding-left: 0; padding-right: 0; } }
#config-event-modal > .content-container .modal-box { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 2.6rem 1.8rem 0; background-color: white; border-radius: 0.6rem; max-height: 100vh; overflow: auto; position: relative; visibility: hidden; opacity: 0; -webkit-transition: opacity 0.8s ease-in-out; transition: opacity 0.8s ease-in-out; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] label { display: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .input-set { max-width: 40rem; margin: 0 auto; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input, #config-event-modal > .content-container .modal-box [name="config-event-form"] select, #config-event-modal > .content-container .modal-box [name="config-event-form"] textarea { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; font-weight: 400; width: 100%; border: solid 0.1rem whitesmoke; border-radius: 0.6rem; color: #616161; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input, #config-event-modal > .content-container .modal-box [name="config-event-form"] select { padding: 1.8rem 1.2rem; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input, #config-event-modal > .content-container .modal-box [name="config-event-form"] textarea { -webkit-transition: border-color 0.5s ease-out; transition: border-color 0.5s ease-out; caret-color: #315db4; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input:focus, #config-event-modal > .content-container .modal-box [name="config-event-form"] textarea:focus { border-color: #616161; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input:focus::-webkit-input-placeholder { opacity: 0; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input:focus:-ms-input-placeholder { opacity: 0; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input:focus::-ms-input-placeholder { opacity: 0; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input:focus::placeholder { opacity: 0; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input[name$="-age"], #config-event-modal > .content-container .modal-box [name="config-event-form"] input[name$="-date"] { background: url("../../../multimedia/images/x-small/S-calendar-1.png") no-repeat 5% 50%/auto; text-indent: 3.2rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] input[name$="-time"] { background: url("../../../multimedia/images/x-small/S-alarm-1b.png") no-repeat 5% 50%/auto; text-indent: 3.2rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] select { background: url("../../../multimedia/images/x-small/S-arr-2.png") no-repeat 95% 50%/1rem auto; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] textarea { padding: 1.2rem 1.6rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] option { color: #616161; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] :invalid, #config-event-modal > .content-container .modal-box [name="config-event-form"] ::-webkit-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] :invalid, #config-event-modal > .content-container .modal-box [name="config-event-form"] :-ms-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] :invalid, #config-event-modal > .content-container .modal-box [name="config-event-form"] ::-ms-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] :invalid, #config-event-modal > .content-container .modal-box [name="config-event-form"] ::placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] > .heading-container { margin-bottom: 2.2rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] > .heading-container [name$="title"] { max-width: 85%; padding: 0; border: none; font-family: "Montserrat", sans-serif; font-size: 2.1rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] > .heading-container [name$="title"]::-webkit-input-placeholder { font-family: inherit; font-size: inherit; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] > .heading-container [name$="title"]:-ms-input-placeholder { font-family: inherit; font-size: inherit; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] > .heading-container [name$="title"]::-ms-input-placeholder { font-family: inherit; font-size: inherit; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] > .heading-container [name$="title"]::placeholder { font-family: inherit; font-size: inherit; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 3rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li { -ms-flex-preferred-size: calc( 33.3% - 2rem ); flex-basis: calc( 33.3% - 2rem ); margin-bottom: 1.5rem; }
@media (max-width: 59.3125em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li { -ms-flex-preferred-size: calc( 50% - 2rem ); flex-basis: calc( 50% - 2rem ); } }
@media (max-width: 49.9375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li { -ms-flex-preferred-size: calc( 50% - 1rem ); flex-basis: calc( 50% - 1rem ); } }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (min-width: 59.375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li:not(:nth-child(3n)) { margin-right: 2rem; } }
@media (max-width: 59.3125em) and (min-width: 50em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li:nth-child(odd) { margin-right: 2rem; } }
@media (max-width: 49.9375em) and (min-width: 37.5em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li:nth-child(odd) { margin-right: 1rem; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-list > li:last-child { margin-right: 0; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field { color: #616161; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .heading-container { margin-bottom: 2.5rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .heading-container .title { font-family: "Montserrat", sans-serif; font-size: 2.1rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); border-radius: 0.6rem; margin-bottom: 1.5rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list dt { display: block; font-size: 1.2rem; margin-bottom: .5rem; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list dt { font-size: 1.2rem; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list dt::after { content: ""; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list dd { display: block; font-size: 1.9rem; font-weight: 700; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list dd { font-size: 1.7rem; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 2.5rem 1rem 1.2rem; border-right: solid .1rem #ededed; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set:last-child { border-right: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dt { cursor: default; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd { line-height: 1.25; cursor: default; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd .checkbox { display: inline-block; width: 3rem; height: 3rem; background-color: white; border: solid 0.1rem #ededed; border-radius: 0.6rem; -ms-flex-negative: 0; flex-shrink: 0; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd .checkbox { width: 2.8rem; height: 2.8rem; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="checkbox"], #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="radio"] { display: none; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="checkbox"]:checked + .checkbox, #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="checkbox"]:checked + label > .checkbox, #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="radio"]:checked + .checkbox, #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="radio"]:checked + label > .checkbox { background-color: #dbe8ff; background-image: url("../../../multimedia/images/x-small/S-check-1b.png"); background-repeat: no-repeat; background-position: center; background-size: 1.8rem auto; border-color: transparent; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="checkbox"]:checked + .checkbox, #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="checkbox"]:checked + label > .checkbox, #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="radio"]:checked + .checkbox, #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set dd input[type="radio"]:checked + label > .checkbox { background-size: 1.5rem auto; } }
@media (max-width: 45.5625em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list { -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; } }
@media (max-width: 45.5625em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .data-list .data-set:nth-child(-n + 2) { -ms-flex-preferred-size: 100%; flex-basis: 100%; border-bottom: solid .1rem #ededed; border-right: none; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .inputs-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: .5rem; }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .inputs-list > li { -ms-flex-preferred-size: calc( 50% - 2rem ); flex-basis: calc( 50% - 2rem ); margin-bottom: 1.5rem; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .inputs-list > li { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (min-width: 37.5em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .inputs-field > .inputs-list > li:not(:last-child) { margin-right: 2rem; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2.6rem; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .buttons-set { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .buttons-set [name$="-save-all"] { font-family: "Montserrat", sans-serif; font-size: 1.4rem; font-weight: 400; color: #4788ff; text-transform: none; margin-right: 2rem; }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .buttons-set [name$="-save-all"] { margin-right: 0; } }
#config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .buttons-set [name$="-save-this"] { display: inline-block; font-size: 2.1rem; font-weight: 700; color: #4788ff; padding: 1.5rem 2.5rem; background-color: #dbe8ff; border-radius: 0.6rem; font-family: "Montserrat", sans-serif; -webkit-box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); }
@media (max-width: 37.4375em) { #config-event-modal > .content-container .modal-box [name="config-event-form"] .form-body > .buttons-set [name$="-save-this"] { margin-bottom: 1.5rem; } }
#config-event-modal > .content-container .modal-box [name$="-exit"] { width: 1.6rem; height: 1.6rem; background-color: transparent; border: none; border-radius: initial; position: absolute; top: 2.6rem; right: 1.8rem; }
#config-event-modal > .content-container .modal-box [name$="-exit"] .content { display: inline-block; width: 1.6rem; height: 0.2rem; background-color: #616161; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); }
#config-event-modal > .content-container .modal-box [name$="-exit"] .content::after { content: ""; display: inline-block; width: 1.6rem; height: 0.2rem; background-color: #616161; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }

#top-footer { background-color: white; }
#top-footer .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2rem 1.5rem 2rem; margin: 0 auto 0; text-align: center; }

/*# sourceMappingURL=scheduling.css.map */