/*---- Boxes Container ----*/

  // Primeiro

  @mixin boxes-containers-1 ( $expandable: false ) // dashboard-1: .performance-management, .users-list ( <- director-dashboard )
    { @include container-1( 1.6rem );
        @include heading-2( $mar: if( $expandable, 1rem, 2rem ), $icon: auto auto 1.8rem 1.5rem ) {
          .title-container {
            & .title {
              & .removable {
                @media ( max-width: o-px-to-abs-em( 399px ) ) { display: none } } } } };
        & > .content-body {
          @if( $expandable ) { @include hidden-field-1 }
          & > .main-content { @include row-flex( $cross: stretch );
            @media ( max-width: o-px-to-abs-em( 1249px ) ) and ( min-width: o-px-to-abs-em( 1080px ) ) { justify-content: space-around }
            @media ( max-width: o-px-to-abs-em( 999px ) ) { flex-direction: column; align-items: center }
            & .boxes-set { @include boxes-list-2 }
            & .rounded-graphs { flex-basis: auto; flex-shrink: 0; margin: 0 2.6rem;
              @media ( max-width: o-px-to-abs-em( 1079px ) ) { margin-right: 0 }
              @media ( max-width: o-px-to-abs-em( 999px ) ) { margin-left: 0; width: 90% }
              @media ( max-width: o-px-to-abs-em( 739px ) ) { width: 100% }
              & .graphs-list { @include column-flex( space-between ); height: 100%;
                @media ( max-width: o-px-to-abs-em( 999px ) ) { flex-direction: row; align-items: flex-start }
                @media ( max-width: o-px-to-abs-em( 739px ) ) { justify-content: space-evenly }
                @media ( max-width: o-px-to-abs-em( 499px ) ) { justify-content: space-between }
                @media ( max-width: o-px-to-abs-em( 349px ) ) { flex-direction: column; align-items: center }
                & li { margin-bottom: 1.5rem;
                  &:not( :last-child ) { margin-bottom: 4rem }
                  & .graph {
                    & .title { font: { size: 2.1rem; weight: 700 }; margin-bottom: 1rem }
                    & .measurement-container { position: relative;
                      & .graph-placeholder {  }
                      & [ value ] { font: { size: 3.6rem; weight: 700 }; @include pos-center } } } } } } }
          & > .additional-info { @include set-grid( 1.5rem 0, 0, 130rem );
            & .expand-option { @include row-flex( flex-start ); padding-bottom: 1.7rem; background: unquote( nth( $lg, 2 ) ) no-repeat 0% 100%/0 .2rem; transition: background-size nth( $a-dt, 4 );
              @include arrow-container-1 { margin: { right: 2.5rem; top: .3rem } };
              & .action { font-size: 2.1rem; cursor: default }
              &[ class~="disabled" ] { color: nth( $c-0, 3 ); user-select: none;
                & .arrow-container { filter: brightness( 125% ); cursor: default } } }
            & .hidden-fields { @include hidden-field-1;
              & .user-reports { padding: 1.6rem 0 0;
                & .boxes-list { @include boxes-list-1 } } } } }
        &[ class~="extended" ] {
          & > .heading-container { margin-bottom: 2rem;
            & .arrow-container { transform: rotate( 180deg ) } }
          & .content-body[ class~="extended" ] {
            & > .additional-info {
              & .expand-option { background-size: 100% .2rem;
                & .arrow-container { transform: rotate( 180deg ) } } } } } }

  // Segundo

  @mixin boxes-containers-2( $icon )
    { @include container-1( .5rem );
        @include title-1( 2.4rem, $icon-width: $icon );
        & > .content-body {
          & > .reports-list { @include row-flex( flex-start, $wrap: wrap );
            @media ( max-width: o-px-to-abs-em( 649px ) ) { justify-content: center }
            & > li { font-size: 1.6rem; margin-bottom: 2rem;
              @media ( max-width: o-px-to-abs-em( 379px ) ) { font-size: 1.5rem }
              &:not( :last-child ) { margin-right: 1.6rem;
                @media ( max-width: o-px-to-abs-em( 379px ) ) { margin-right: 1.3rem } }
              & .report { @include highlighter-1( .7rem 1rem ); cursor: pointer;
                @media ( max-width: o-px-to-abs-em( 379px ) ) { padding: .6rem .8rem } } } } } }

  // Terceiro

  @mixin boxes-containers-3( $icon )
    { @include container-1( 2.5rem );
        @include heading-3( $icon: $icon ) }
