/*---- Boxes List ----*/

  // Primeiro

  @mixin boxes-list-1
    { @include row-flex( space-evenly, flex-start, wrap );
        & > li { flex-basis: 30.2rem; margin: 0 .6rem 2rem; transition: opacity nth( $a-dt, 2 );
          & > .report-box { width: 100%; height: 100%; background-color: white; border: solid .1rem nth( $c-2, 5 ); border-radius: nth( $br, 1 );
            & > .heading-container { @include row-flex; padding: 1.2rem; background-color: nth( $c-2, 5 );
              & .title { @include title-3 }
              & .options-list { @include row-flex( flex-start );
                & li { display: inline-block; cursor: pointer; @include title-3;
                  &:not( :last-child ) { margin-right: 2.4rem }
                  &[ class~="more" ] { @include shape-circle( 1.8rem, transparent, solid .2rem nth( $c-2, 1 ) ); position: relative;
                    & .plus { @include shape-plus( 1rem, .2rem, nth( $c-2, 1 ) ) } }
                  &[ class~="close" ] { position: relative; width: 1.4rem; height: 1.4rem;
                    & .x { @include shape-x( 1.4rem, .3rem, nth( $c-0, 5 ) ); transition: background-color nth( $a-dt, 3 );
                      &::after { transition: inherit } }
                    &:hover, &:focus {
                      & .x { background-color: nth( $c-3, 3 );
                        &::after { background-color: nth( $c-3, 3 ) } } } } } } }
            & .content-body {
              & .reports-list { @include column-flex(); max-height: 40rem; padding: 1.8rem 1.2rem; overflow: auto;
                & > li { padding-bottom: 1.2rem; border-bottom: unquote( nth( $bor, 2 ) );
                  &:not( :last-child ) { margin-bottom: 1.4rem }
                  & .report { font-size: 1.3rem;
                    & > .heading-container { margin-bottom: 1rem;
                      & .date-info { @include row-flex( flex-start, flex-start ); margin-bottom: .9rem;
                        & .ilustration { margin-right: .6rem }
                        & time { margin-top: .1rem; cursor: default } }
                      & .title { font: { size: 1.5rem; weight: 600 }; letter-spacing: -.015rem;
                        &::after { content: ":" } } }
                    & .info-list { letter-spacing: -.015rem;
                      & .data-set {
                        & .date { display: block; margin-bottom: .6rem;
                          &::after { content: "" } }
                        & dt { cursor: default }
                        & > dd { font-weight: 600;
                          & .data-list {
                            & > .data-set {
                              & > dt { font-weight: 600 } } }
                          & .info {
                            &:not( :last-child ) { margin-bottom: .8rem } } }
                        &:not( :last-child ) { margin-bottom: 1.2rem } } } } } } } } } }

  // Segundo

  @mixin boxes-list-2
    { @include row-flex( flex-start, stretch, wrap, space-between ); flex-grow: 1; max-width: 117.5rem;
        @media ( max-width: o-px-to-abs-em( 1249px ) ) { max-width: 80rem }
        @media ( max-width: o-px-to-abs-em( 999px ) ) { justify-content: space-between; max-width: none; margin-bottom: 1.5rem }
        @media ( max-width: o-px-to-abs-em( 739px ) ) { width: 100%; flex-direction: column; align-content: space-evenly; max-height: 58.5rem }
        @media ( max-width: o-px-to-abs-em( 549px ) ) { align-content: space-between }
        @media ( max-width: o-px-to-abs-em( 499px ) ) { max-height: none; align-items: center; align-content: normal }
        & > li { flex-basis: 33.2%; margin-bottom: nth( map-get( $mar, boxes ), 2 );
          @media ( max-width: o-px-to-abs-em( 1249px ) ) { flex-basis: 25rem }
          @media ( max-width: o-px-to-abs-em( 849px ) ) { flex-basis: 22.5rem }
          @media #{ unquote( nth( map-get( $media, performance-management ), 2 ) ) } { flex-basis: auto; width: 26rem }
          @media #{ unquote( nth( map-get( $media, performance-management ), 3 ) ) } { width: 22rem }
          &:not( :nth-child( 3n ) ) {
            @media ( max-width: o-px-to-abs-em( 1249px ) ) { margin-right: 2rem }
            @media ( max-width: o-px-to-abs-em( 1079px ) ) { margin-right: .5rem }
            @media ( max-width: o-px-to-abs-em( 739px ) ) { margin-right: 0 } }
          & .box { @include box-3;
            @media #{ unquote( nth( map-get( $media, performance-management ), 1 ) ) } { padding: { left: .8rem; right: .8rem } }
            & .measurement-container {
              & .measurement-list { @include row-flex( flex-start );
                & .measurement {
                  &:not( :last-of-type ) { margin-right: 3.5rem }
                  &[ class~="old-notes" ] {
                    & time { margin-right: 3.5rem;
                      @media ( max-width: o-px-to-abs-em( 849px ) ) { margin-right: 1.2rem } } } } }
              & .progress-circle { @include shape-circle( 10rem, transparent, solid .4rem white ); position: relative; clip-path: inset( 1.5rem 0 0 ); transform: rotate( -60deg ) translate( 0.5rem, -0.5rem );
                & .measurement { @include pos-center( $transform: rotate( 60deg ) ); text-align: center;
                  & [ value ] { display: block; font: { size: 2.6rem; weight: 700 }; margin-bottom: .7rem }
                  & .complement { font: { size: 1.4rem; weight: 700 }; text-transform: uppercase; letter-spacing: .01rem } } } } } } }

  // Terceiro

  @mixin boxes-list-3
    { @include row-flex( space-evenly, $wrap: wrap );
        & > li { flex-grow: 1; flex-basis: calc( 25% - .4rem ); margin: 0 .2rem nth( map-get( $mar, boxes ), 2 );
          @media ( max-width: o-px-to-abs-em( 859px ) ) { flex-basis: calc( 33.3% - .4rem ) }
          @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-basis: calc( 50% - .4rem ) }
          @media ( max-width: o-px-to-abs-em( 429px ) ) { flex-basis: 100% }
          & .box { @include box-3( center, $suffix: "" ) }
          &:nth-child( n + 9 ) {
            & .box {
              @media ( min-width: o-px-to-abs-em( 600px ) ) { max-width: none } } }
          &:nth-child( -4n  +5 ), &:nth-child( -4n  +6 ) {
            & .box {
              @media ( min-width: o-px-to-abs-em( 860px ) ) { margin-left: 0 } } }
          &:nth-child( -4n  +7 ), &:nth-child( -4n  +8 ) {
            & .box {
              @media ( min-width: o-px-to-abs-em( 860px ) ) { margin-right: 0 } } }
          &:nth-child( 4n + 1 ) {
            @media ( min-width: o-px-to-abs-em( 860px ) ) { margin-left: 0 } }
          &:nth-child( 3n + 1 ) {
            @media ( max-width: o-px-to-abs-em( 859px ) ) and ( min-width: o-px-to-abs-em( 600px ) ) { margin-left: 0 } }
          &:nth-child( 2n + 1 ) {
            @media ( max-width: o-px-to-abs-em( 599px ) ) and ( min-width: 430px ) { margin-left: 0 } }
          &:nth-child( 4n ) {
            @media ( min-width: o-px-to-abs-em( 860px ) ) { margin-right: 0 } }
          &:nth-child( 3n ) {
            @media ( max-width: o-px-to-abs-em( 859px ) ) and ( min-width: o-px-to-abs-em( 600px ) ) { margin-right: 0 } }
          &:nth-child( 2n ) {
            @media ( max-width: o-px-to-abs-em( 599px ) ) and ( min-width: 430px ) { margin-right: 0 } }
          &:nth-child( n ) {
            @media ( max-width: o-px-to-abs-em( 429px ) ) { margin: { left: 0; right: 0 } } }
          &:last-child { margin-right: 0 } } }
