/*---- Data Tables ----*/

// Primeira

@mixin data-table-1 ( $count, $m-overflow, $m-width: 12rem, $height: 35rem, $m-font: 799px 699px 599px )
  { max-height: $height; overflow: auto; box-shadow: unquote( nth( $bs, 7 ) );
      & > li {
        &:not( :last-child ) {
          & > .data-list {
            & .data-set { border-bottom: unquote( nth( $bor, 3 ) ) } } }
        & .data-list { @include data-list-2;
          & .data-set { flex-basis: percentage( 1 / $count ); padding: 1.2rem .8rem;
            @media ( max-width: o-px-to-abs-em( $m-overflow ) ) { flex: 0 0 $m-width }
            & dd {
              @media ( max-width: o-px-to-abs-em( nth( $m-font, 1 ) ) ) { font-size: 1.7rem }
              @media ( max-width: o-px-to-abs-em( nth( $m-font, 2 ) ) ) { font-size: 1.5rem }
              @media ( max-width: o-px-to-abs-em( nth( $m-font, 3 ) ) ) { font-size: 1.4rem } } } } } }
