/*---- Data List ----*/

  // Primeiro

  @mixin data-list-1
    { @include row-flex( flex-start, stretch, wrap ); @include list-2;
        & .data-set { box-sizing: border-box; flex-basis: 16.6%; padding: 0 2.5rem;
          @media ( max-width: o-px-to-abs-em( 1349px ) ) { padding: { left: .8rem; right: .8rem } }
          @media ( max-width: o-px-to-abs-em( 949px ) ) { flex-basis: 25% }
          @media ( max-width: o-px-to-abs-em( 649px ) ) { flex-basis: 33.3% }
          @media ( max-width: o-px-to-abs-em( 479px ) ) { flex-basis: 50% }
          &:first-child { min-height: 7.2rem;
            @media ( max-width: o-px-to-abs-em( 949px ) ) { min-height: unset } }
          &:nth-child( -n + 6 ) {
            @media ( min-width: o-px-to-abs-em( 950px ) ) { border-bottom: unquote( nth( $bor, 1) ) } }
          &:nth-child( -n + 8 ) {
            @media ( max-width: o-px-to-abs-em( 949px ) ) and ( min-width: o-px-to-abs-em( 650px ) ) { border-bottom: unquote( nth( $bor, 1) ) } }
          &:nth-child( -n + 9 ) {
            @media ( max-width: o-px-to-abs-em( 649px ) ) and ( min-width: o-px-to-abs-em( 480px ) ) { border-bottom: unquote( nth( $bor, 1) ) } }
          &:nth-child( -n + 10 ) {
            @media ( max-width: o-px-to-abs-em( 479px ) ) { border-bottom: unquote( nth( $bor, 1) ) } }
          &:not( :nth-child( 6n ) ) {
            @media ( min-width: o-px-to-abs-em( 950px ) ) { border-right: unquote( nth( $bor, 1) ) } }
          &:not( :nth-child( 4n ) ) {
            @media ( max-width: o-px-to-abs-em( 949px ) ) and ( min-width: o-px-to-abs-em( 650px ) ) { border-right: unquote( nth( $bor, 1) ) } }
          &:not( :nth-child( 3n ) ) {
            @media ( max-width: o-px-to-abs-em( 649px ) ) and ( min-width: o-px-to-abs-em( 480px ) ) { border-right: unquote( nth( $bor, 1) ) } }
          &:not( :nth-child( 2n ) ) {
            @media ( max-width: o-px-to-abs-em( 479px ) ) { border-right: unquote( nth( $bor, 1) ) } }
          &:nth-child( 6n ) {
            @media ( min-width: o-px-to-abs-em( 950px ) ) { flex-grow: 1 } }
          &:nth-child( 4n ) {
            @media ( max-width: o-px-to-abs-em( 949px ) ) and ( min-width: o-px-to-abs-em( 650px ) ) { flex-grow: 1 } }
          &:nth-child( 3n ) {
            @media ( max-width: o-px-to-abs-em( 649px ) ) and ( min-width: o-px-to-abs-em( 480px ) ) { flex-grow: 1 } }
          &:nth-child( 2n ) {
            @media ( max-width: o-px-to-abs-em( 479px ) ) { flex-grow: 1 } }
          &:last-child { border-right: none; flex-grow: 1 }
          & dt { margin-top: 1.5rem }
          & dd { font: { size: 1.4rem; weight: 700 }; margin-bottom: 1rem;
            @media ( max-width: o-px-to-abs-em( 599px ) ) { font-size: 1.3rem }
            & .positive { @include highlighter-1( .4rem .6rem ) }
            & .negative { @include highlighter-2( .4rem .6rem ) }
            & .highlight { color: nth( $c-3, 2 ) }
            & .action-options { @include row-flex( flex-start );
              & li { @include box-2( transparent );
                &:not( :last-child ) { margin-right: .8rem }
                &[ class~="close" ], &[ class~="edit" ] { background-color: nth( $c-3, 1 ) }
                &[ class~="message" ] { background-color: nth( $c-2, 3 ) } } } } } }

  // Segunda

  @mixin data-list-2 ( $pad: 1.5rem 1.2rem 1.5rem 1.6rem )
    { @include row-flex( flex-start, stretch ); @include list-2( 1.2rem );
        & .data-set { box-sizing: border-box; flex-grow: 1; padding: $pad; border-right: unquote( nth( $bor, 3 ) );
          &:last-child { border-right: none }
          & dt { cursor: default }
          & dd { line-height: 1.25; cursor: default;
            @include checkbox-1 ( $bg-width: 1.8rem 1.5rem ) } } }
