/*---- Grades ----*/

  // Primeira

  @mixin set-default-grid // dashboard-1: *section & #top-header -> .result-type
    { @include set-grid( $grid: $default-grid );
        @media ( max-width: o-px-to-abs-em( 849px ) ) { padding: 0 } }

/*---- Filtros ----*/

  // Primeiro

  @mixin filter-1 // dashboard-1: #top-header – .menu-bar
    { filter: grayscale(100%) brightness( 175% ); transition: filter nth( $a-dt, 1 );
        &:hover, :focus { filter: unset } }

/*---- Componentes ----*/

// Barras de Rolagem

  // Primeira

  @mixin scrollbar-1
    { #top-content {
        & ::-webkit-scrollbar { width: .8rem; height: .8rem;
          &-thumb { background-image: unquote( nth( $lg, 3 ) ); border-radius: nth( $br, 1 ); box-shadow: unquote( nth( $bs, 6 ) ) }
          &-track { background-color: nth( $c-0, 8 ) }
          &-corner { background-color: nth( $c-0, 8 ) }
          @content; } } }

// Recipientes

  // Primeiro

  @mixin container-1 ( $bpad ) // dashboard-1: *section –> .content-container -> .box-container
    { @include set-grid( 2.6rem $bpad, $grid: $default-grid - 3rem ); background-color: white; border-radius: nth( $br, 1 ) }

  // Segundo

  @mixin container-2 // dashboard-1: #top-header - .result-type - .date-container, #manage-waitlist - .heading-container - .date-container
    { @include row-flex( flex-start ); padding: 2rem 1.4rem; border: solid .1rem nth( $c-0, 1 ); background-color: white; border-radius: nth( $br, 1 ); cursor: default;
        & .side-icon { margin-right: 2.4rem;
          @media ( max-width: o-px-to-abs-em( 399px ) ) { margin-right: 1.2rem } }
        & .message { font: { size: 1.6rem; weight: 400 }; line-height: 1.2 } }

  // Terceiro

  @mixin container-3 ( $dir, $rmar: 1rem, $arr-size: 1.3rem .9rem ) // dashboard-1: #caseload - .chart-box - .heading-container - .username-container, #manage-waitlist - .waitlist-user - .heading-container - .user-container
    { @include row-flex( $cross: $dir );
        @include title-2 { margin-right: $rmar }
        & .arrow-container { cursor: pointer; transition: transform nth( $a-dt, 4 );
          @media ( max-width: o-px-to-abs-em( 699px ) ) { margin-top: 0 }
          & .darr { @include shape-triangle( nth( $arr-size, 2 ), nth( $c-0, 2 ), bottom, x-small "arr-1.png" 3 ); width: nth( $arr-size, 1 ) } } }

// Títulos

  // Primeiro

  @mixin title-1 ( $bmar: 2rem, $responsive: 799px 599px 399px, $icon-width: auto auto auto auto ) // dashboard-1: *section –> .heading-container
    { & > .heading-container { @include row-flex; margin-bottom: $bmar;
        & .title-container { @include row-flex( flex-start );
          & .side-icon { width: nth( $icon-width, 1 ); margin-right: 1rem }
          & .title { @include set-font( 2.6rem, 700, $family: $f-sans-2 ) }
          @if length( $responsive ) >= 1
            { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) {
                & .side-icon { width: nth( $icon-width, 2 ) }
                & .title { font-size: 2.3rem } } }
          @if length( $responsive ) >= 2
            { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) {
                & .side-icon { width: nth( $icon-width, 3 ); margin-right: .6rem }
                & .title { font-size: 2rem } } }
          @if length( $responsive ) >= 3
            { @media ( max-width: o-px-to-abs-em( nth( $responsive, 3 ) ) ) {
                & .side-icon { width: nth( $icon-width, 4 ) }
                & .title { font-size: 1.8rem } } } }
        @content; } }

  // Segundo

  @mixin title-2 ( $responsive: ( 799px 599px 399px ) ) // dashboard-1: *section – _box
    { & > .title, & > .username { font: { size: 2.4rem; weight: 700 }; text-transform: capitalize; line-height: 1.3;
        @if length( $responsive ) >= 1
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { font-size: 2.3rem } }
        @if length( $responsive ) >= 2
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { font-size: 2rem } }
        @if length( $responsive ) >= 3
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 3 ) ) ) { font-size: 1.8rem } }
        & .surname { display: block;
          &::after { content: "," } }
        & .forename { display: block }
        @content; } }

  // Terceiro

  @mixin title-3 ( $responsive: ( 799px 399px ) ) // dashboard-1: #caseload - .chart-box - .hidden-fields - .heading-container - .title
    { font: { size: 2rem; weight: 400 };
      @if length( $responsive ) >= 1
        { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { font-size: 1.8rem } }
      @if length( $responsive ) >= 2
        { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { font-size: 1.6rem } } }

  // Quarto

  @mixin title-4 ( $responsive: () )
    { @include set-font( 3.2rem, 700, $family: $f-sans-2 ); line-height: 1.3;
        @if length( $responsive ) >= 1
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { font-size: 2.8rem } }
        @if length( $responsive ) >= 2
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { font-size: 2.4rem } }
        @if length( $responsive ) >= 3
         { @media ( max-width: o-px-to-abs-em( nth( $responsive, 3 ) ) ) { font-size: 2rem } }
        @if length( $responsive ) >= 4
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 4 ) ) ) { font-size: 1.8rem } } }

// Cabeçalhos

  // Primeiro

  @mixin heading-1 ( $mar: 2rem, $icon: auto auto auto auto )
    { @include title-1( $mar, $icon-width: $icon ) {
        & .buttons-set {
          & [ name$="-edit" ] { @include highlighter-1( .8rem 1.2rem, 1.6rem 1.5rem, 599px ) }
          & [ name$="-cancel" ] { @include highlighter-2( .8rem 1.2rem, 1.6rem 1.5rem, 599px ); display: none } }
        @content; } }

  // Segundo

  @mixin heading-2( $mar: 1rem, $icon: auto auto auto auto )
    { @include title-1( $bmar: $mar, $icon-width: $icon ) { transition: margin nth( $a-dt, 4 );
        @include arrow-container-1;
        @content; } }

  // Terceiro

  @mixin heading-3( $icon )
    { @include title-1( $bmar: 0, $icon-width: $icon ) {
        & .buttons-set {
          & [ name$="-show" ] { @include button-1 } }
        @content; } }

  // Quarta

  @mixin heading-4
    { & > .heading-container { @include row-flex; margin-bottom: nth( map-get( $mar, sections ), 1 );
        @media ( max-width: o-px-to-abs-em( 799px ) ) { margin-bottom: 2.5rem }
        @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-bottom: 1.8rem }
        & .title-container {
          & .title { @include title-4( 999px 799px 599px );
            & .complement { font-weight: 300;
              @media ( max-width: o-px-to-abs-em( 449px ) ) { display: block } } } }
        & .buttons-set {
          & button { @include button-1( 999px 799px 599px 0 );
            @media ( max-width: o-px-to-abs-em( 379px ) ) { padding: 1rem } } }
        @content; } }

// Boxes

  // Primeiro

  @mixin box-1 ( $responsive: (), $h-width: 22.5rem ) // dashboard-1: #caseload -> .chart-box
    { @include row-flex( $cross: stretch ); cursor: default;
        & .heading-container { flex-basis: 25%; max-width: $h-width; padding: 1rem; border-radius: nth( $br, 1 ) 0 0 nth( $br, 1 ); background-color: nth( $c-2, 2 ) }
        & .content-body { flex-grow: 1; box-shadow: unquote( nth( $bs, 2 ) ); border-radius: 0 nth( $br, 1 ) nth( $br, 1 ) 0 }
      @if length( $responsive ) >= 1
        { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { flex-direction: column;
            & .heading-container { flex-basis: auto; max-width: unset; border-radius: nth( $br, 1 ) nth( $br, 1 ) 0 0 }
            & .content-body { border-radius: 0 0 nth( $br, 1 ) nth( $br, 1 ) } } } }

  // Segundo

  @mixin box-2( $color ) // #manage-waitlist - .waitlist-user - .data-list - .action-options, #reauthorization-queue - .queue-user - .data-list - .action-options
    { @include shape-square( 2.2rem, $color, none, nth( $br, 1 ) ); cursor: pointer;
        & .icon { @include fill;
          & img { @include img-center } } }

  // Terceiro

  @mixin box-3( $main: space-between, $cross: flex-start, $suffix: ":" )
    { @include column-flex( $main, $cross ); color: white; height: 12.8rem; max-width: 27rem; padding: 1.6rem 1.3rem 3.2rem; border: unquote( nth( $bor, 1 ) ); border-radius: nth( $br, 1 ); margin: 0 auto; cursor: default;
        &[ class~="green" ] { background-color: nth( $c-1, 1 ) }
        &[ class~="blue" ] { background-color: nth( $c-2, 1 ) }
        & .heading-container { margin-bottom: 1.6rem;
          & .title { font: { size: 2.1rem; weight: 700 }; line-height: 1.3 } }
        & .measurement-container {
          & .measurement-list {
            & .measurement {
              &:not( :last-of-type ) { margin-right: 3.5rem }
              & dt { display: block; font-size: 1.5rem; margin-bottom: .4rem;
                &::after { content: $suffix } }
              & dd {
                & .assertion, & [ value ], & .separator, & time { font: { size: 2.6rem; weight: 700 }; line-height: 1.25 }
                & .complement { font: { size: 1.3rem; weight: 400 } }
                & .call-to-action { font: { size: 1.5rem; weight: 400 }; text-decoration: underline } } } } }
        &[ class~="centered" ] {
          & .heading-container, & .measurement-container { margin: { left: auto; right: auto } } } }

// Medidas de Tabelas

  // Primeira

  @mixin table-measurements-1 ( $height, $w-head-base, $w-data-base, $responsive: 1479px )
    { & tr { @include row-flex( flex-start, stretch ); background-color: white;
        @media ( max-width: o-px-to-abs-em( 1199px ) ) { width: moz-fit-content; width: fit-content }
        &:not( :last-child ), &:only-child {
          & > * { border-bottom: solid .2rem nth( $c-0, 4 ) } }
        & > * { min-height: $height; padding: 1.6rem .9rem;
          &:not( :last-child ) { border-right: unquote( nth( $bor, 1 ) ) } }
        & > :first-child { flex-shrink: 0; width: $w-head-base; font-weight: 400; position: sticky; z-index: 1; left: 0; background-color: white }
        & > :not( :first-child ) { flex: 1 1 13%; min-width: $w-data-base; font-weight: 400 }
        @content; } }

// Listas

  // Primeira

  @mixin list-1 ( $bmar: 3rem ) // dashboard-1: *section –> .content-body –> .menu
    { margin-bottom: $bmar;
        & .select-list { user-select: none;
          & li { display: inline-block; font-size: 2.1rem; color: nth( $c-0, 3 ); padding-bottom: .5rem; letter-spacing: .05rem; cursor: pointer; background: unquote( nth( $lg, 1 ) ) no-repeat 0% 100%/0% .2rem;
                 @include change-color( nth( $c-2, 1 ) nth( $c-0, 3 ) nth( $a-dt, 3 ) 85%, null, ", background-size #{ nth( $a-dt, 3 ) }" );
            &:not( :last-child ) { margin-right: 5rem }
            &:hover, &:focus { background-size: 35% .2rem }
            &:active { background-size: 60% .2rem }
            &.current { font-weight: 700; color: nth( $c-2, 1 ); background-size: 100% .2rem } }
          @content; } }

  // Segunda

  @mixin list-2 ( $dt-f-size: ( 1.4rem 1.3rem ), $dd-f-size: ( 1.9rem 1.7rem ) ) // dashboard-1: #caseload & #requirements -> .chart-box -> .content-body -> .data-list
    { & dt { display: block; font-size: o-first( $dt-f-size ); margin-bottom: .5rem;
        @media ( max-width: o-px-to-abs-em( 599px ) ) { font-size: o-last( $dt-f-size ) }
        &::after { content: "" } }
      & dd { display: block; font: { size: o-first( $dd-f-size ); weight: 700 };
        @media ( max-width: o-px-to-abs-em( 599px ) ) { font-size: o-last( $dd-f-size ) } } }

// Menus

  // Primeiro

  @mixin menu-1 ( $arrows-viewport, $responsive: () ) // dashboard-1: #caseload & #requirements -> .menu
    { @include row-flex;
        @media ( max-width: o-px-to-abs-em( $arrows-viewport ) ) { justify-content: center }
        & .arrow-container { display: none; cursor: default;
          @media ( max-width: o-px-to-abs-em( $arrows-viewport ) ) { display: block }
          & .larr { @include shape-triangle( .9rem, nth( $c-0, 3 ), left, x-small "arr-1.png" 3 ) }
          & .rarr { @include shape-triangle( .9rem, nth( $c-0, 3 ), right, x-small "arr-1.png" 3 ) }
          & .larr, & .rarr {
            @if length( $responsive ) >= 2
              { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { width: .8rem; height: .8rem } } }
          &[ class~="clickable" ] { cursor: pointer;
            & .larr, & .rarr { background-color: nth( $c-0, 2 ) } } }
        @include list-1 {
          @media ( max-width: o-px-to-abs-em( $arrows-viewport ) ) { margin: 0 2rem }
          @if length( $responsive ) >= 2
            { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { margin: 0 1rem } }
          & li {
            &:nth-child( n ) {
              @media ( max-width: o-px-to-abs-em( $arrows-viewport ) ) { margin-right: 0 } }
            @if length( $responsive ) >= 1
              { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { font-size: 1.8rem } }
            @if length( $responsive ) >= 2
              { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { font-size: 1.6rem } }
            &:not( .current ) {
              @media ( max-width: o-px-to-abs-em( $arrows-viewport ) ) { display: none } } } } }

// Conjunto de Inputs

  // Primeiro

  @mixin input-set-1 ( $pad: ( 1.8rem 1.2rem, 1.2rem 1.6rem ), $bor: solid .1rem nth( $c-0, 1 ), $add-icon: true )
    { & input, & select, & textarea { box-sizing: border-box; font: { size: 1.6rem; weight: 400 }; width: 100%; ; border: $bor; border-radius: nth( $br, 1 ); color: nth( $c-0, 2 ) }
      & input, & select { padding: o-first( $pad ); -webkit-appearance: none; appearance: none }
      & input, & textarea { transition: border-color nth( $a-dt, 3 ); caret-color: nth( $c-2, 8 );
        &:focus { border-color: nth( $c-0, 2 ) } }
      & input { @include fade-placeholder( nth( $a-dt, 2 ) );
        @if $add-icon
          { &[ name$="-age" ], &[ name$="-date" ] { background: url( o-get-img( x-small, "calendar-1.png" ) ) no-repeat 5% 50%/auto; text-indent: 3.2rem }
            &[ name$="-time" ] { background: url( o-get-img( x-small, "alarm-1b.png" ) ) no-repeat 5% 50%/auto; text-indent: 3.2rem } } }
      & select { background: url( o-get-img( x-small, "arr-2.png" ) ) no-repeat 95% 50%/1rem auto }
      & textarea { padding: o-last( $pad ) }
      & option { color: nth( $c-0, 2 ) }
      & :invalid, & ::placeholder { @include set-font( 1.6rem, 400, nth( $c-0, 7 ) ) } }

// Boxes de Marcação

  // Primeiro

  @mixin checkbox-1 ( $image: "check-1b.png", $responsive: ( 599px ), $bg-width: ( auto ) )
    { & .checkbox { display: inline-block; @include shape-square( 3rem, white, solid .1rem nth( $c-0, 4 ), .6rem ); flex-shrink: 0;
        @if length( $responsive ) >= 1
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { width: 2.8rem; height: 2.8rem } }
        @content; }
      & input {
        &[ type="checkbox" ], &[ type="radio" ] { display: none;
          &:checked + .checkbox, &:checked + label > .checkbox { background: { color: nth( $c-2, 3 ); image: url( o-get-img( x-small, $image ) ); repeat: no-repeat; position: center; size: o-first( $bg-width ) auto }; border-color: transparent;
            @if length( $responsive ) >= 1
              { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { background-size: o-last( $bg-width ) auto } } } } } }

// Conjunto de Botões

  // Primeiro

  @mixin buttons-set-1( $bmar: 2rem, $icon: auto auto auto auto, $edit-b-color: ( transparent, nth( $c-0, 2 ) ) )
    { @include heading-1( $bmar, $icon );
      & .action-options {
        & .buttons-set { @include row-flex( space-evenly ); position: relative;
          & [ name$="-add" ] { @include highlighter-1( 1.6rem 4rem, 2.1rem 1.9rem, 599px ); border-bottom: solid .3rem nth( $c-2, 7 );
            @media ( max-width: o-px-to-abs-em( 499px ) ) { padding: 1.2rem 2rem }
            & .removable {
              @media ( max-width: o-px-to-abs-em( 399px ) ) { display: none } } }
          & [ name$="-save" ] { @include highlighter-1( .8rem 1.2rem, 1.6rem 1.5rem, 599px ); display: none; position: absolute; right: 0; bottom: 0;
            & .removable {
              @media ( max-width: o-px-to-abs-em( 499px ) ) { display: none } } } } }
      &[ class~="edit-mode" ] {
        & .heading-container {
          & .buttons-set {
            & [ name$="-edit" ] { display: none }
            & [ name$="-cancel" ] { display: inline-block } } }
        & .action-options {
          & .buttons-set {
            & [ name$="-save" ] { display: inline-block } } }
        & [ class~="complement" ] { display: none }
        & :not( input )[ class~="editable" ] { box-sizing: border-box; display: block !important; @include set-font( 1.5rem !important, 400 !important, nth( $c-0, 7 ) !important ); padding: .5rem .8rem; overflow: hidden;
                                               border: solid .1rem o-first( $edit-b-color ); border-radius: nth( $br, 1 ); background-color: white; margin-top: 1rem; caret-color: nth( $c-2, 8 ); cursor: text; transition: border-color nth( $a-dt, 3 );
          &:focus { border-color: o-last( $edit-b-color ); outline: none }
          & p { white-space: normal } }
        & .checkbox { cursor: pointer } } }

// Botões

  // Primeiro

  @mixin button-1( $media: 799px 599px 479px 379px )
    { @include highlighter-1( 1.2rem 8rem, 2.6rem 2rem 1.8rem 1.4rem, nth( $media, 1 ) nth( $media, 2 ) nth( $media, 3 ) ); font-family: $f-sans-2; box-shadow: unquote( nth( nth( $bs, 8 ), 1 ) );
        @media ( max-width: o-px-to-abs-em( nth( $media, 1 ) ) ) { padding: 1rem 6rem; box-shadow: unquote( nth( nth( $bs, 8 ), 2 ) ) }
        @media ( max-width: o-px-to-abs-em( nth( $media, 2 ) ) ) { padding: .9rem 4rem }
        @media ( max-width: o-px-to-abs-em( nth( $media, 3 ) ) ) { padding: .8rem 2rem; box-shadow: unquote( nth( nth( $bs, 8 ), 3 ) ) }
        @media ( max-width: o-px-to-abs-em( nth( $media, 4 ) ) ) { padding: 0; background-color: transparent; box-shadow: none; font: { size: 1.2rem; weight: 500 } } }

  // Segundo

  @mixin button-2
    { @include highlighter-1( 1.5rem 2.5rem, 2.1rem ); font-family: $f-sans-2; box-shadow: unquote( nth( nth( $bs, 8 ), 1 ) ) }

// Marcadores

  // Primeiro

  @mixin highlighter-1 ( $pad, $f-size: inherit, $responsive: () ) // #manage-waitlist - .waitlist-user - .data-list - .positive, #supervision-reports - .reports-list - .report
    { display: inline-block; font: { size: nth( $f-size, 1 ); weight: 700 }; color: nth( $c-2, 6 ); padding: $pad; background-color: nth( $c-2, 3 ); border-radius: nth( $br, 1 );
        @if length( $responsive ) >= 1
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { font-size: nth( $f-size, 2 ) } }
        @if length( $responsive ) >= 2
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { font-size: nth( $f-size, 3 ) } }
        @if length( $responsive ) >= 3
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 3 ) ) ) { font-size: nth( $f-size, 4 ) } } }

  // Segundo

  @mixin highlighter-2 ( $pad, $f-size: inherit, $responsive: () ) // #manage-waitlist - .waitlist-user - .data-list - .negative
    { display: inline-block; font: { size: nth( $f-size, 1 ); weight: 700 }; color: nth( $c-3, 2 ); padding: $pad; background-color: nth( $c-3, 1 ); border-radius: nth( $br, 1 );
        @if length( $responsive ) >= 1
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 1 ) ) ) { font-size: nth( $f-size, 2 ) } }
        @if length( $responsive ) >= 2
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 2 ) ) ) { font-size: nth( $f-size, 3 ) } }
        @if length( $responsive ) >= 3
          { @media ( max-width: o-px-to-abs-em( nth( $responsive, 3 ) ) ) { font-size: nth( $f-size, 4 ) } } }

// Setas

  // Primeiro

  @mixin arrow-container-1
    { & > .arrow-container { cursor: pointer; transition: transform nth( $a-dt, 4 );
        & .darr { @include shape-triangle( 1rem, nth( $c-0, 7 ), bottom, x-small "arr-2.png" 3 ); width: 1.3rem; height: .8rem }
        @content; } }

// Campos Ocultos

  // Primeiro

  @mixin hidden-field-1
    { height: 0; overflow: hidden; transition: height nth( $a-dt, 4 ); position: relative }
