#caseload { margin-bottom: nth( map-get( $mar, sections ), 1 );
  & > .content-container { @include set-default-grid;
    & .box-container { @include container-1( 3.2rem );
      @include title-1 ( 2.7rem, $icon-width: 2.4rem 2.1rem 1.8rem 1.7rem ) {
        & .title-container {
          & .side-icon {
            @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-right: .7rem } } } };
      & > .content-body {
        & > .menu { @include menu-1( 599px, 799px 399px ) }
        & > .charts-list {
          & > li {
            &:not( :last-child ) { margin-bottom: nth( map-get( $mar, boxes ), 1 ) }
            & > .chart-box {
              & .fixed-row { @include box-1( 699px );
                & > .heading-container { @include column-flex( flex-end, stretch ); flex-shrink: 0; min-width: 22.5rem; position: relative; border: { right: unquote( nth( $bor, 1 ) ); bottom: solid .1rem transparent };
                  @media ( max-width: o-px-to-abs-em( 1199px ) ) { justify-content: center }
                  @media ( max-width: o-px-to-abs-em( 899px ) ) { min-width: 16.3rem }
                  @media ( max-width: o-px-to-abs-em( 799px ) ) { border-bottom: none }
                  @media ( max-width: o-px-to-abs-em( 699px ) ) { border-right: none }
                  & .username-container { @include container-3( flex-start ); margin: { left: .4rem; bottom: 4.6rem };
                    @media ( max-width: o-px-to-abs-em( 1199px ) ) { margin-bottom: 0 }
                    & .username {
                      @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-top: 1rem } }
                    & .arrow-container { margin-top: 1.4rem;
                      @media ( max-width: o-px-to-abs-em( 699px ) ) { margin-top: 0 } } }
                  & .notice-list { align-self: flex-end; transform: translateZ( 0 );
                    @media ( max-width: o-px-to-abs-em( 1199px ) ) { position: absolute; bottom: 1rem; right: 1rem }
                    & li { display: inline-block;
                      &:not( :last-child ) { margin-right: .5rem }
                      & .square { @include shape-square( 2.6rem, transparent, dashed .2rem white, nth( $br, 1 ) ); position: relative; transition: all nth( $a-dt, 1 );
                        & .icon { @include pos-center; filter: grayscale( 100% ) brightness( 300% ); transition: filter nth( $a-dt, 1 ) }
                        &[ class~="new" ] { border-color: transparent;
                          &[ class~="contact-log" ] { background-color: nth( $c-2, 3 ) }
                          &[ class~="incident-reports" ] { background-color: nth( $c-3, 1 ) }
                          &[ class~="sticky-notebooks" ] { background-color: nth( $c-4, 1 ) }
                          & .icon { filter: unset } } } } } }
                & > .content-body { border-bottom: solid .1rem transparent;
                  @media ( max-width: o-px-to-abs-em( 799px ) ) { border-bottom: none }
                  & .data-list { @include row-flex( $cross: stretch ); @include list-2;
                    @media ( max-width: o-px-to-abs-em( 1199px ) ) { flex-direction: column }
                    & dt {
                      @media ( max-width: o-px-to-abs-em( 1199px ) ) { margin-bottom: 1.2rem } }
                    & .funding-data { flex-basis: 55%; padding: 3rem 1.5rem 1.8rem; border-right: unquote( nth( $bor, 1 ) );
                      @media ( max-width: o-px-to-abs-em( 1199px ) ) { border: { bottom: unquote( nth( $bor, 1 ) ); right: none } }
                      & dd {
                        & .funding-list { @include column-flex( $cross: flex-start, $wrap: wrap );
                          @media ( max-width: o-px-to-abs-em( 1199px ) ) and ( min-width: o-px-to-abs-em( 1049px ) ) { flex-direction: row }
                          & li { line-height: 1.3; @include column-flex( $cross: flex-start );
                            @media ( max-width: o-px-to-abs-em( 1199px ) ) and ( min-width: o-px-to-abs-em( 649px ) ) { flex-direction: row; justify-content: flex-start }
                            &:nth-child( odd ) {
                              @media ( max-width: o-px-to-abs-em( 1199px ) ) and ( min-width: o-px-to-abs-em( 1049px ) ) { flex-basis: calc( 50% - 2rem ); margin-right: 2rem } }
                            &:nth-child( even ) {
                              @media ( max-width: o-px-to-abs-em( 1199px ) ) and ( min-width: o-px-to-abs-em( 1049px ) ) { flex-basis: 50% } }
                            &:not( :last-child ) { margin-bottom: 2rem }
                            & .name {
                              @media ( max-width: o-px-to-abs-em( 1199px ) ) { margin-right: 2rem } } } } } }
                    & .data-cluster { @include row-flex( $cross: stretch, $wrap: wrap ); flex-grow: 1;
                      @media ( max-width: o-px-to-abs-em( 899px ) ) { flex-direction: column }
                      & .data-set { box-sizing: border-box; flex-basis: 50%; padding: 1rem 1.5rem 1.8rem;
                        @media ( max-width: o-px-to-abs-em( 899px ) ) { flex-basis: auto }
                        &:nth-child( odd ) { border-right: unquote( nth( $bor, 1 ) );
                          @media ( max-width: o-px-to-abs-em( 899px ) ) { border-right: none } }
                        &:nth-child( -n + 2 ) { padding-top: 3rem; border-bottom:unquote( nth( $bor, 1 ) ) }
                        & dd {
                          & .chart-placeholder { width: 100%; height: 10rem;
                            & img { height: 100%; object-position: center } } } } } } } }
              & .hidden-fields { @include hidden-field-1;
                & .sliding-rows {
                  & > .row { @include box-1( 799px );
                    & .heading-container { @include column-flex( center, flex-start ); flex-shrink: 0; border: { bottom: solid .1rem transparent; right: unquote( nth( $bor, 1 ) ); radius: 0 };
                      @media ( max-width: o-px-to-abs-em( 974px ) ) and ( min-width: o-px-to-abs-em( 900px ) ) { flex-basis: 44.1rem }
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { border: none }
                      & .title-container { @include title-2 } }
                    & .content-body { @include column-flex( center ); padding: 3.6rem 1.5rem; border-bottom: solid .1rem transparent; box-shadow: unquote( nth( $bs, 5 ) );
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { border: { bottom: none; left: solid .1rem nth( $c-0, 1 ) } } }
                    &:not( :last-of-type ) {
                      & .heading-container { border-bottom-color: nth( $c-2, 4 ) }
                      & .content-body { border-bottom-color: nth( $c-0, 4 ) } }
                    &:last-of-type {
                      & .content-body { box-shadow: unquote( nth( $bs, 3 ) ) } }
                    &[ class~="overall" ] {
                      & .content-body {
                        & .chart-placeholder { @include column-flex( center ); width: 100%; flex-grow: 1; max-height: 20rem;
                          & img { max-height: 17rem; flex-basis: 100% } } } }
                    &[ class~="client-supervision" ] {
                      & .content-body {
                        & .charts-list { width: 100%; @include row-flex( $wrap: wrap );
                          & li {
                            @media ( max-width: o-px-to-abs-em( 1339px ) ) { flex-basis: 50% }
                            @media ( max-width: o-px-to-abs-em( 579px ) ) { flex-basis: 100% }
                            &:nth-child( -n + 2 ) {
                              @media ( max-width: o-px-to-abs-em( 1339px ) ) { margin-bottom: 2.5rem } }
                            &:not( :last-child ) {
                              @media ( max-width: o-px-to-abs-em( 579px ) ) { margin-bottom: 2.5rem } }
                            & .chart-container { width: moz-fit-content; width: fit-content; margin: 0 auto;
                              & .caption { text-align: center; margin-top: 1.4rem;
                                & .username { @include title-3; letter-spacing: -.03rem;
                                  & .surname {
                                    &::after { content: ", " } } } } } } } } } } }
                & .user-reports { background-color: nth( $c-0, 1 ); padding: 3.5rem 0;
                  & .boxes-list { @include boxes-list-1 } } }
              &[ class~="extended" ] {
                & .fixed-row {
                  & .heading-container { border-bottom-color: nth( $c-2, 4 );
                    & .username-container {
                      & .arrow-container { transform: rotate( 180deg ) } } }
                  & .content-body { box-shadow: unquote( nth( $bs, 4 ) ); border-bottom-color: nth( $c-0, 4 );
                      @media ( max-width: o-px-to-abs-em( 699px ) ) { border-left: solid .1rem nth( $c-0, 1 ) } } } } } } } } } } }
