#client-inquiry-form { margin-bottom: nth( map-get( $mar, sections ), 1 );
  & > .content-container { @include set-default-grid;
    & [ name="client-inquiry-form" ] {
      @include input-set-1( .8rem 1.4rem 1.2rem 1.6rem, unquote( nth( $bor, 3 ) ), false );
      @include checkbox-1 { cursor: pointer };
      & label, & .input-legend { @include set-font( 1.2rem, 400, nth( $c-0, 2 ) ); width: moz-fit-content; width: fit-content; margin-left: .4rem; line-height: 1.3 }
      & label { @include row-flex; margin-bottom: .5rem }
      & .input-legend { margin-bottom: .8rem }
      & label > .content { display: inline-block; font: { size: 1.8rem; weight: 700 }; margin-left: .7rem;
        @media ( max-width: o-px-to-abs-em( 679px ) ) { font-size: 1.7rem }
        @media ( max-width: o-px-to-abs-em( 499px ) ) { font-size: 1.6rem }
        & .complement { font: { size: 1.2rem; weight: 400 } } }
      & .input-legend {
        &[ class~="required" ] {
          &::after { content: " *"; display: inline-block; margin-left: .1rem } } }
      & > .form-field { margin-bottom: 2.5rem;
        & .box-container { @include container-1( 2.5rem );
          @include title-1( $icon-width: auto 1.9rem 1.7rem 1.5rem );
          & .content-body {
            & .fields-list {
              & > li {
                &:not( :last-child ) { margin-bottom: 2.5rem } } }
            & .input-field { @include row-flex( $cross: stretch, $wrap: wrap ); background-color: white; box-shadow: unquote( nth( $bs, 2 ) ); border-radius:nth( $br, 1 );
              &:not( [ class~="collapsed" ] ) { padding: 3.2rem 1.4rem 1.4rem }
              & .input-set { box-sizing: border-box; flex: 1 1 25%; display: flex; flex-direction: column-reverse; align-items: flex-start; padding: 3.2rem 1.4rem 1.4rem;
                @media ( max-width: o-px-to-abs-em( 799px ) ) { flex-basis: 50% }
                @media ( max-width: o-px-to-abs-em( 399px ) ) { flex-basis: 100% }
                &:not( :last-child ) { border-right: unquote( nth( $bor, 3 ) ) }
                &:nth-child( 4n ) {
                  @media ( min-width: o-px-to-abs-em( 800px ) ) { border-right: none } }
                &:nth-child( 2n ) {
                  @media ( max-width: o-px-to-abs-em( 799px ) ) and ( min-width: o-px-to-abs-em( 400px ) ) { border-right: none } }
                &:nth-child( n ) {
                  @media ( max-width: o-px-to-abs-em( 399px ) ) { border-right: none } }
                &:nth-child( n + 5 ) {
                  @media ( min-width: o-px-to-abs-em( 800px ) ) { border-top: unquote( nth( $bor, 3 ) ) } }
                &:nth-child( n + 3 ) {
                  @media ( max-width: o-px-to-abs-em( 799px ) ) and ( min-width: o-px-to-abs-em( 400px ) ) { border-top: unquote( nth( $bor, 3 ) ) } }
                &:nth-child( n + 2 ) {
                  @media ( max-width: o-px-to-abs-em( 399px ) ) { border-top: unquote( nth( $bor, 3 ) ) } }
                & :not( [ type="checkbox" ] )[ required ],  & :not( [ type="radio" ] )[ required ] + label {
                  &::after { content: " *" } }
                & > .radio-field, & > .checkbox-field { width: 100%;
                  & .input-legend { margin: { left: auto; right: auto } } } } }
            & .input-block { @include row-flex( center );
              & > :not( :last-child ) { margin-right: 1.2rem } }
            & .inputs-list { @include row-flex( $cross: stretch, $wrap: wrap ) } }
          &[ class~="demographics" ] {
            & .content-body {
              & .fields-list {
                & > li {
                  & .client-main-info {
                    & .input-set {
                      @media ( min-width: o-px-to-abs-em( 1150px ) ) { flex-basis: 20% }
                      @media ( max-width: o-px-to-abs-em( 1149px ) ) and ( min-width: o-px-to-abs-em( 600px ) ) { flex-basis: 33.3% }
                      &:nth-child( 2n ) {
                        @media ( min-width: o-px-to-abs-em( 600px ) ) { border-right: unquote( nth( $bor, 3 ) ) } }
                      &:nth-child( 3n ) {
                        @media ( max-width: o-px-to-abs-em( 1149px ) ) and ( min-width: o-px-to-abs-em( 600px ) ) { border-right: none } }
                      &:nth-child( n + 4 ) {
                        @media ( max-width: o-px-to-abs-em( 1149px ) ) and ( min-width: o-px-to-abs-em( 600px ) ) { border-top: unquote( nth( $bor, 3 ) ) } } } }
                  & .referring {
                    & .permissions { flex-direction: row; justify-content: space-evenly; align-items: flex-end;
                      & .checkbox-field { max-width: 9.5rem; margin-right: 1rem } } } } } } }
          &[ class~="questions" ] {
            & .content-body {
              & .fields-list {
                & li {
                  & .client-assess {
                    & .inquiry-reason { min-width: 27.5rem;
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { flex-basis: 100% } }
                    & > :nth-child( n ) {
                      @media ( max-width: o-px-to-abs-em( 499px ) ) { flex-basis: 100% } }
                    & > :not( :first-child ) {
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { border-top: unquote( nth( $bor, 3 ) ) } }
                    & > :nth-child( 2 ) {
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { border-right: unquote( nth( $bor, 3 ) ) }
                      @media ( max-width: o-px-to-abs-em( 499px ) ) { border-right: none } }
                    & > :not( :nth-child( 2 ) ) {
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { border-right: none } } }
                  & .services-list {
                    & .inputs-list { align-items: center;
                      @media ( max-width: o-px-to-abs-em( 419px ) ) { justify-content: center }
                      & li { flex-basis: calc( 50% - 1.5rem );
                        @media ( max-width: o-px-to-abs-em( 419px ) ) { flex-basis: 100% }
                        &:nth-child( odd ) {
                          @media ( min-width: o-px-to-abs-em( 420px ) ) { margin-right: 1.5rem } }
                        &:not( :nth-child( n + 9 ) ) {
                          @media ( min-width: o-px-to-abs-em( 650px ) ) { margin-bottom: .6rem }
                          @media ( max-width: o-px-to-abs-em( 649px ) ) and ( min-width: 500px ) { margin-bottom: 1.2rem }
                          @media ( max-width: o-px-to-abs-em( 499px ) ) and ( min-width: o-px-to-abs-em( 420px ) ) { margin-bottom: 1.6rem } }
                        &:not( :last-child ) {
                          @media ( max-width: o-px-to-abs-em( 419px ) ) { margin-bottom: 1.5rem } } } } }
                  & .lead-source {
                    & .description-of-needs { min-width: 48rem;
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { min-width: unset; order: 1; padding-top: 1rem }
                      & .radio-field {
                        & .input-block {
                          @media ( max-width: o-px-to-abs-em( 399px ) ) { flex-wrap: wrap }
                          & .radio-input {
                            @media ( max-width: o-px-to-abs-em( 399px ) ) { flex-basis: 100% }
                            &:not( :last-child ) {
                              @media ( max-width: o-px-to-abs-em( 399px ) ) { margin-bottom: 1.5rem } } } } } } }
                  & .insurance-info { display: block;
                    & > .radio-field { margin-bottom: 2rem;
                      & .input-block { justify-content: flex-start;
                        @media ( max-width: o-px-to-abs-em( 449px ) ) { flex-wrap: wrap }
                        & .radio-input {
                          @media ( max-width: o-px-to-abs-em( 449px ) ) { flex-basis: 100% }
                          &:not( :last-child ) {
                            @media ( max-width: o-px-to-abs-em( 449px ) ) { margin-bottom: 1.5rem } } } } }
                    & .insurance-providers {
                      @include title-1 { flex-direction: column; align-items: flex-start;
                        & .title-container { margin: { left: 2.5rem; bottom: 1.8rem } } } } }
                  & .phone-related { display: block;
                    & > .heading-container { margin: { left: 1.4rem; bottom: 1rem };
                      & .title { font: { size: 1.8rem; weight: 700 };
                        @media ( max-width: o-px-to-abs-em( 679px ) ) { font-size: 1.7rem }
                        @media ( max-width: o-px-to-abs-em( 499px ) ) { font-size: 1.6rem } } }
                    & > .content-body {
                      & .inputs-list {
                        & .input-set { padding-top: 1.8rem } } } } } } } }
          &[ class~="other" ] {
            & .content-body {
              & .input-field {
                @media ( max-width: o-px-to-abs-em( 799px ) ) { @include assign-order( ".response-time" ".received-documents" ".notes" ) }
                & > :nth-child( n ) {
                  @media ( max-width: o-px-to-abs-em( 499px ) ) { flex-basis: 100% } }
                & .response-time {
                  @media ( max-width: o-px-to-abs-em( 499px ) ) { border-right: none }
                  & .radio-field {
                    & .input-legend { margin-left: 0 }
                    & .input-block { flex-direction: column; align-items: flex-start;
                      & > :not( :last-child ) { margin-bottom: .4rem }
                      & .radio-input {
                        & label { align-items: flex-start; line-height: 1 } } } } }
                & .notes { align-self: flex-start; border-right: none;
                  @media ( max-width: o-px-to-abs-em( 799px ) ) { border-top: unquote( nth( $bor, 3 ) ) } }
                & .received-documents { flex-direction: row; justify-content: center; border-left: unquote( nth( $bor, 3 ) );
                  @media ( max-width: o-px-to-abs-em( 799px ) ) { border: { left: none; top: none } }
                  @media ( max-width: o-px-to-abs-em( 499px ) ) { border-top: unquote( nth( $bor, 3 ) ) }
                  & .checkbox-field { max-width: 10rem;
                    &:not( :last-child ) { margin-right: 2rem }
                    & .input-legend { margin-left: 0 } } } } } } } }
      & > .buttons-set { @include row-flex( flex-start );
        @media ( max-width: o-px-to-abs-em( 849px ) ) { padding: 0 1.5rem }
        & button { @include highlighter-1( .8rem 1.2rem, 1.6rem );
          &:not( :last-child ) { margin-right: 2.5rem } } } } } }
