#data-tables-columns {
  & > .content-container { @include set-default-grid;
    & > .tables-list {
      & > li { margin-bottom: nth( map-get( $mar, sections ), 1 );
        & > .data-table {
          & > .box-container { @include container-1( 2.4rem );
            @include buttons-set-1( 2.4rem, $edit-b-color: ( nth( $c-0, 4 ), nth( $c-0, 2 ) ) );
            @include heading-1( 2.4rem );
            & > .content-body { margin-bottom: 2.4rem;
              & > .data-list { @include data-list-2 }
              & > .boxes-list { @include boxes-list-1 } }
            &[ class~="authorizations" ] {
              & .heading-container {
                & .title-container {
                  & .side-icon {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { width: 2.2rem }
                    @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 2rem }
                    @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 1.8rem } } } }
              & .content-body {
                & .data-list {
                  @media ( max-width: o-px-to-abs-em( 859px ) ) { flex-wrap: wrap }
                  & .data-set {
                    &:nth-child( -n + 2 ) {
                      @media ( max-width: o-px-to-abs-em( 859px ) ) { text-align: center; flex-basis: 50%; border-bottom: unquote( nth( $bor, 3 ) ) } }
                    &:nth-child( 2 ) {
                      @media ( max-width: o-px-to-abs-em( 859px ) ) { border-right: none } } } } } }
            &[ class~="treatment-team" ] {
              & .heading-container {
                & .title-container {
                  & .side-icon {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { width: 2.8rem }
                    @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 2.6rem }
                    @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 2.5rem } } } } }
            &[ class~="treatment-forms" ], &[ class~="documentation" ], &[ class~="client-documents" ], &[ class~="client-reports" ] {
              & .heading-container {
                & .title-container {
                  & .side-icon {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { width: 1.9rem }
                    @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 1.7rem }
                    @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 1.5rem } } } } }
            &[ class~="upcoming-schedule" ] {
              & .heading-container {
                & .title-container {
                  & .side-icon {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { width: 2.2rem }
                    @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 1.9rem }
                    @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 1.8rem } } } }
              & .content-body {
                & .schedule-range { font: { size: 1.6rem; weight: 400 }; margin-bottom: 1.2rem;
                  @media ( max-width: o-px-to-abs-em( 799px ) ) { font-size: 1.5rem }
                  @media ( max-width: o-px-to-abs-em( 599px ) ) { font-size: 1.4rem } }
                & > .data-table { @include data-table-1( 5 , 559px, $height: 35.2rem ) } } }
            &[ class~="contact-log" ], &[ class~="contact-people" ] {
              & .heading-container {
                & .title-container {
                  & .side-icon {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { width: 2.1rem }
                    @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 1.8rem }
                    @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 1.6rem } } } } }
            &[ class~="documentation" ] {
              & .content-body {
                & > .data-table { @include data-table-1( 3, 389px, $height: 26.2rem ) } } }
            &[ class~="contact-people" ] {
              & .content-body {
                & > .data-table { @include data-table-1( 3, 559px, 17rem, 13rem ) } } }
            &[ class~="client-documents" ] {
              & .content-body {
                & > .data-table { @include data-table-1( 5, 559px, $height: 13rem ) } } }
            &[ class~="client-reports" ] {
              & > .content-body { @include row-flex( space-evenly, flex-start );
                @media ( max-width: o-px-to-abs-em( 1019px ) ) { flex-direction: column; align-items: stretch }
                & .report {
                  &:not( :last-child ) {
                    @media ( max-width: o-px-to-abs-em( 1019px ) ) { margin-bottom: 2rem } }
                  &[ class~="incident-reports" ] {
                    & .box {
                      & > .content-body {
                        & .data-table { @include data-table-1( 5, 419px, 9.3rem, 20rem, $m-font: 0 0 0 ) } } } }
                  &[ class~="medication-evaluations" ] {
                    & .box {
                      & > .content-body {
                        & .data-table { @include data-table-1( 2, 0, $height: 20rem, $m-font: 0 0 0 ) } } } }
                  &:nth-child( n ) {
                    & .box { width: 45rem; margin-bottom: 2.4rem;
                      @media ( max-width: o-px-to-abs-em( 1019px ) ) { margin: { left: auto; right: auto } }
                      @media ( max-width: o-px-to-abs-em( 519px ) ) { width: 100% }
                      & > .heading-container { padding: 1rem; background-color: nth( $c-2, 5 ); border-radius: nth( $br, 1 ) nth( $br, 1 ) 0 0;
                        & .title { @include title-3 } }
                      & > .content-body {
                        & .data-table { box-shadow: unset;
                          & > li {
                            & > .data-list {
                              & .data-set {
                                & dt { margin-bottom: 1rem }
                                & dd { font: { size: 1.5rem; weight: 600 }; letter-spacing: -.03rem } } } } } } } } } } }
            &[ class~="treatment-team" ], &[ class~="treatment-forms" ] {
              & .content-body {
                & .data-list {
                  @media ( max-width: o-px-to-abs-em( 799px ) ) { flex-wrap: wrap }
                  & .data-set {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { text-align: center; flex-basis: 50% }
                    &:nth-child( -n + 2 ) {
                      @media ( max-width: o-px-to-abs-em( 799px ) ) { border-bottom: unquote( nth( $bor, 3 ) ) } }
                      &:nth-child( 2 ) {
                        @media ( max-width: o-px-to-abs-em( 799px ) ) { border-right: none } } } } } }
            &[ class~="authorizations" ], &[ class~="treatment-team" ], &[ class~="treatment-forms" ] {
              & .content-body {
                & .data-list {
                  & .data-set {
                    &:nth-child( n ) {
                      @media( max-width: o-px-to-abs-em( 549px ) ) { text-align: center; flex-basis: 100%; border: { bottom: unquote( nth( $bor, 3 ) ); right: none } } } } } } } } } } } } }
