#intake-summary { margin-bottom: nth( map-get( $mar, sections ), 1 );
  & > .content-container { @include set-default-grid;
    & > .box-container { @include container-1( 3rem );
      @include buttons-set-1( $icon: auto 2.2rem 2rem 1.9rem );
      & > .content-body { margin-bottom: 2.4rem;
        & .boxes-set { @include boxes-list-3 }
        & .inquiry-reason { box-sizing: border-box; max-height: 20rem; padding: 1.8rem 2rem; border: unquote( nth( $bor, 1 ) ); border-radius: nth( $br, 1 ); margin-bottom: 4rem; overflow: auto;
          & .title { font: { size: 1.5rem; weight: 400 }; margin-bottom: 1rem;
            @media ( max-width: o-px-to-abs-em( 429px ) ) { text-align: center; font-size: 1.4rem } }
          & .text-set { font: { size: 1.6rem; weight: 400 }; line-height: 1.4; max-width: 130rem;
            @media ( max-width: o-px-to-abs-em( 429px ) ) { text-align: justify; font-size: 1.5rem }
            & .text {  } } } } } } }
