#requirements { margin-bottom: nth( map-get( $mar, sections ), 2 );
  & > .content-container { @include set-default-grid;
    & .box-container { @include container-1( 1.6rem );
      @include title-1 ( 2.7rem, $icon-width: 1.6rem 1.4rem 1.3rem 1.1rem ) {
        & .title-container {
          & .side-icon {
            @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-right: .7rem } } } };
      & > .content-body {
        & > .menu { @include menu-1( 599px, 799px 399px ) }
        & .required-signatures {
          & li {
            &:not( :last-child ) { margin-bottom: nth( map-get( $mar, boxes ), 1 ) }
            & .info-box { @include box-1;
              @media ( max-width: o-px-to-abs-em( 799px ) ) { flex-direction: column }
              & .heading-container { @include column-flex( center, flex-start ); border-right: unquote( nth( $bor, 1 ) );
                @media ( max-width: o-px-to-abs-em( 1049px ) ) { flex-basis: 20% }
                @media ( max-width: o-px-to-abs-em( 799px ) ) { text-align: center; max-width: none; border-right: none; border-radius: nth( $br, 1 ) nth( $br, 1 ) 0 0 }
                @include title-2 { width: 100%;
                  & .surname, & .forename {
                    @media ( max-width: o-px-to-abs-em( 799px ) ) { display: inline } } } }
              & .content-body {
                @media ( max-width: o-px-to-abs-em( 799px ) ) { border-radius: 0 0 nth( $br, 1 ) nth( $br, 1 ) }
                & .data-list { @include row-flex( $cross: stretch, $wrap: wrap ); @include list-2; height: 100%;
                  @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-direction: column }
                  & .data-set { padding: 3rem 1.5rem;
                    &:not( :first-child ) { flex-grow: 1 }
                    &:not( :last-child ) { border-right: unquote( nth( $bor, 1 ) ) }
                    &:first-child { flex-basis: 36.5%;
                      @media ( max-width: o-px-to-abs-em( 1049px ) ) { flex-basis: 100%; border: { right: none; bottom: unquote( nth( $bor, 1 ) ) } }
                      @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-basis: auto } }
                    &:nth-child( 2 ) {
                      @media ( max-width: o-px-to-abs-em( 599px ) ) { border: { bottom: unquote( nth( $bor, 1 ) ); right: none } } }
                    & .surname {
                      &::after { content: "," } } } } } } } } } } } }
