#scheduling-boxes { margin-bottom: nth( map-get( $mar, sections ), 2 );
  & > .content-container { @include set-default-grid;
    & > .boxes-list {
      & > li {
        &:not( :last-child ) { margin-bottom: nth( map-get( $mar, sections ), 1 ) }
        & .box1 {
          & .box-container { @include boxes-containers-3( 2rem 1.9rem 1.9rem 1.7rem ) } }
        & .box2 {
          & .box-container { @include boxes-containers-2( 2rem 1.9rem 1.9rem 1.7rem ) } } } } } }
