// Fontes

@include source-sans-pro; @include montserrat;

$f-sans-1: "Source Sans Pro", sans-serif; $f-sans-2: "Montserrat", sans-serif;

// Cores

$c-0: ( hsl( 0, 0%, 96% ), hsl( 0, 0%, 38% ), hsl( 0, 0%, 75% ), hsl( 0, 0%, 93% ),
        hsl( 0, 0%, 79% ), hsl( 0, 0%, 91% ), hsl( 0, 0%, 73% ), hsl( 0, 0%, 89% ) );
$c-1: ( hsl( 77, 83%, 37% ) );
$c-2: ( hsl( 220, 80%, 61% ), hsl( 207, 40%, 81% ), hsl( 219, 100%, 93% ), hsl( 207, 22%, 71% ),
        hsl(216, 14%, 93%), hsl( 219, 100%, 64% ), hsl( 219, 50%, 87% ), hsl( 220, 57%, 45% ) );
$c-3: ( hsl( 348, 94%, 94% ), hsl( 348, 94%, 68% ), hsl( 355, 74%, 47% ) );
$c-4: ( hsl( 35, 100%, 93% ) );

// Gradientes

$lg: ( "linear-gradient( 90deg, hsl( 220, 80%, 61% ), hsl( 220, 80%, 61% ) )", /* @m list-1 – li */
       "linear-gradient( 90deg, #{ nth( $c-0, 4 ) }, #{ nth( $c-0, 4 ) } )", /* dashboard-1: #users-list - _box - .content-body - .additional-info - .expand-option */
       "linear-gradient( 145deg, #{ nth( $c-2, 6 ) } 60%, #{ nth( $c-2, 8 ) } )" );

// Transições

$a-dt: ( .6s ease-in-out, /* dashboard-1: #top-header – .menu-bar( icons colors ), #caseload – .chart-box – .notice-list */
         .8s ease-out, /* dashboard-1: *::placeholder( fading ) */
         .5s ease-out, /* dashboard-1: @m list-1 – li( color ) */
         1.2s ease-in-out /* #caseload - .chart-box - .heading-container - .arrow-container - .darr */,
         .3s ease-out,
         .8s ease-in-out );

// Sombras

$bs: ( "0.3rem 0 1rem hsla( 0, 0%, 0%, .15 )", /* dashboard-1: #top-header – .menu-bar */
       "0 0rem 1rem hsla( 0, 0%, 0%, .12 )", /* dashboard-1: #caseload & #requirements – _box – .content-body */
       ".4rem .3rem 1rem -.3rem hsla( 0, 0%, 0%, .12 )", /* dashboard-1: #caseload - .chart-box.extended - .content-body( last ) */
       ".5rem -.3rem 1rem -.5rem hsla( 0, 0%, 0%, .12 )", /* dashboard-1: #caseload - .chart-box.extended - .content-body( first ) */
       ".5rem 0 1rem -.5rem hsla( 0, 0%, 0%, .12 )", /* dashboard-1: #caseload - .chart-box.extended - .content-body( middle ) */
       "0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 )",
       "0 -.2rem .5rem -.2rem hsla( 0, 0%, 0%, .10 )",
       ( "0 .2rem .8rem hsla( 0, 0%, 0%, .25 )", "0 .2rem .5rem hsla( 0, 0%, 0%, .25 )", "0 .1rem .2rem hsla( 0, 0%, 0%, .25 )" ) );

// Bordas

$bor: ( "solid .2rem #{ nth( $c-0, 4 ) }", /* dashboard-1: #performance-management – .box, #caseload & #requirements – _box – .data-list( sides ) */
        "solid .1rem #{ nth( $c-0, 6 ) }", /* dashboard-1: #caseload – _box – .user-reports – .reports-list – li */
        "solid .1rem #{ nth( $c-0, 4 ) }" );

// Medidas

$br: ( .6rem /* dashboard-1: *section & #caseload – .chart-box – .user-reports – .report-box */ );
$mar: ( boxes: 2.2rem 1.5rem, sections: 3.5rem 10.5rem );
$default-grid: 141.8rem;

// Inquéritos de Mídia

$media: ( performance-management: ( "( max-width: #{ o-px-to-abs-em( 849px ) } ) and ( min-width: #{ o-px-to-abs-em( 740px ) } ), ( max-width: #{ o-px-to-abs-em( 599px ) } ) and ( min-width: #{ o-px-to-abs-em( 500px ) } )",
                                    "( max-width: #{ o-px-to-abs-em( 739px ) } ), ( max-width: #{ o-px-to-abs-em( 499px ) } )",
                                    "( max-width: #{ o-px-to-abs-em( 599px ) } ) and ( min-width: #{ o-px-to-abs-em( 500px ) } )" ) )
