#config-event-modal { @include block-viewport( hsla( 0, 0, 0, .65 ) ); visibility: hidden; opacity: 0; transition: opacity nth( $a-dt, 4 );
  & > .content-container { @include set-grid( 0, 3rem, 106rem ); @include pos-center;
    @media ( max-width: o-px-to-abs-em( 649px ) ) { padding: { left: 1.5rem; right: 1.5rem } }
    @media ( max-width: o-px-to-abs-em( 549px ) ) { padding: { left: 0; right: 0 } }
    & .modal-box { @include fill( 2.6rem 1.8rem 0 ); background-color: white; border-radius: nth( $br, 1 ); max-height: 100vh; overflow: auto; position: relative; visibility: hidden; opacity: 0; transition: opacity nth( $a-dt, 6 );
      & [ name="config-event-form" ] {
        & label { display: none }
        & .input-set { max-width: 40rem; margin: 0 auto }
        @include input-set-1;
        & > .heading-container { margin-bottom: 2.2rem;
          & [ name$="title" ] { max-width: 85%; padding: 0; border: none; font: { family: $f-sans-2; size: 2.1rem };
            &::placeholder { font: { family: inherit; size: inherit } } } }
        & .form-body {
          & > .inputs-list { @include row-flex( $cross: stretch, $wrap: wrap ); margin-bottom: 3rem;
            & > li { flex-basis: calc( 33.3% - 2rem ); margin-bottom: 1.5rem;
              @media ( max-width: o-px-to-abs-em( 949px ) ) { flex-basis: calc( 50% - 2rem ) }
              @media ( max-width: o-px-to-abs-em( 799px ) ) { flex-basis: calc( 50% - 1rem ) }
              @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-basis: 100% }
              &:not( :nth-child( 3n ) ) {
                @media ( min-width: o-px-to-abs-em( 950px ) ) { margin-right: 2rem } }
              &:nth-child( odd ) {
                @media ( max-width: o-px-to-abs-em( 949px ) ) and ( min-width: o-px-to-abs-em( 800px ) ) { margin-right: 2rem }
                @media ( max-width: o-px-to-abs-em( 799px ) ) and ( min-width: o-px-to-abs-em( 600px ) ) { margin-right: 1rem } }
              &:last-child { margin-right: 0 } } }
          & > .inputs-field { color: nth( $c-0, 2 );
            & > .heading-container { margin-bottom: 2.5rem;
              & .title { font: { family: $f-sans-2; size: 2.1rem } } }
            & > .data-list { @include data-list-2( 2.5rem 1rem 1.2rem ); box-shadow: unquote( nth( $bs, 2 ) ); border-radius: nth( $br, 1 ); margin-bottom: 1.5rem;
              @media ( max-width: o-px-to-abs-em( 729px ) ) { flex-wrap: wrap; text-align: center }
              & .data-set {
                &:nth-child( -n + 2 ) {
                  @media ( max-width: o-px-to-abs-em( 729px ) ) { flex-basis: 100%; border: { bottom: unquote( nth( $bor, 3 ) ); right: none } } } } }
            & > .inputs-list { @include row-flex( $cross: stretch, $wrap: wrap ); margin-bottom: .5rem;
              & > li { flex-basis: calc( 50% - 2rem ); margin-bottom: 1.5rem;
                @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-basis: 100% }
                &:not( :last-child ) {
                  @media ( min-width: o-px-to-abs-em( 600px ) ) { margin-right: 2rem } } } } }
          & > .buttons-set { @include row-flex( flex-end ); margin-bottom: 2.6rem;
            @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-direction: column-reverse; justify-content: center }
            & [ name$="-save-all" ] { @include set-font( 1.4rem, 400, nth( $c-2, 6 ), $family: $f-sans-2 ); margin-right: 2rem;
              @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-right: 0 } }
            & [ name$="-save-this" ] { @include button-2;
              @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-bottom: 1.5rem } } } } }
      & [ name$="-exit" ] { @include shape-square( 1.6rem, transparent ); position: absolute; top: 2.6rem; right: 1.8rem;
        & .content { display: inline-block; @include shape-x( 1.6rem, .2rem, nth( $c-0, 2 ) ) } } } } }
