#schedule-management { margin: { bottom: nth( map-get( $mar, sections ), 2 ); top: 4rem };
  & > .content-container { @include set-grid( $grid: $default-grid );
    @include heading-4;
    & > .content-body {
      & .schedule-table { display: block; width: 100%; font-size: 1.4rem; cursor: default; overflow: auto;
        & .days { display: block; position: sticky; top: 0; z-index: 2;
          @include table-measurements-1 ( 3.5rem, 7rem, 13rem ) {
            & th { @include column-flex( flex-end, flex-start );
              & .day {
                & .day-of-week { text-transform: uppercase }
                & .day-of-month { font: { size: 1.8rem; weight: 700 } } } } } }
        & .appointments { display: block; max-height: 50rem;
          @include table-measurements-1 ( 6.5rem, 7rem, 13rem ) {
            & th { @include column-flex( center ) }
            & td { cursor: pointer; transition: background-color nth( $a-dt, 5 );
              &:last-child { flex-shrink: 1 }
              &:active { background-color: lighten( nth( $c-2, 2 ), 6% ) }
              &[ class~="filled" ] { background-color: nth( $c-2, 2 );
                &:active { background-color: darken( nth( $c-2, 2 ), 6% ) } }
              & .appointment {
                & .title { font: { size: 1.6rem; weight: 700 }; margin-bottom: 1rem; cursor: inherit }
                & .range { text-transform: uppercase;
                  & .beginning { display: block; margin-bottom: .5rem;
                    &::after { content: " –" } }
                  & .end { display: block } } } } } } } } } }
