#top-header .result-type {
  & .content-container { @include set-default-grid;
    & .result-description { font-size: 1.6rem;
      @media ( max-width: o-px-to-abs-em( 399px ) ) { font-size: 1.4rem }
      & dt { display: block; margin-bottom: 1rem;
        @media ( max-width: o-px-to-abs-em( 849px ) ) { margin-left: 1.5rem } }
      & dd {
        & .date-container { @include container-2 } } } } }
