@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
/* Elementos */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul, menu { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }

input, textarea, select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; background-color: transparent; }

template { display: none; }

/* Atributos & Classes */
[tabindex] { outline: none; }

.line { display: block; }

/* Pré-Configurações do Site */
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.otf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../../../multimedia/fonts/montserrat/montserrat-thin.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-thin.ttf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.ttf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Light"), local("Montserrat-Light"), url("../../../multimedia/fonts/montserrat/montserrat-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-light.ttf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../../multimedia/fonts/montserrat/montserrat-regular.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-regular.ttf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../../multimedia/fonts/montserrat/montserrat-medium.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-medium.ttf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.ttf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../../multimedia/fonts/montserrat/montserrat-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.ttf"); font-weight: 800; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Black"), local("Montserrat-Black"), url("../../../multimedia/fonts/montserrat/montserrat-black.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-black.ttf"); font-weight: 900; font-style: normal; font-stretch: normal; }
/*---- Grades ----*/
/*---- Filtros ----*/
/*---- Componentes ----*/
/*---- Boxes Container ----*/
/*---- Boxes List ----*/
/*---- Data List ----*/
/*---- Data Tables ----*/
/* Configurações Locais */
body { font: 1.6rem/1 "Source Sans Pro", sans-serif; color: #616161; background-color: whitesmoke; }
body #top-content ::-webkit-scrollbar { width: .8rem; height: .8rem; }
body #top-content ::-webkit-scrollbar-thumb { background-image: linear-gradient( 145deg, #4788ff 60%, #315db4 ); border-radius: 0.6rem; -webkit-box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); }
body #top-content ::-webkit-scrollbar-track { background-color: #e3e3e3; }
body #top-content ::-webkit-scrollbar-corner { background-color: #e3e3e3; }

/* Componentes */
#top-header .menu-bar { background-color: white; -webkit-box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); }
#top-header .menu-bar .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 1.2rem 1.5rem 1.2rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container .logo { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #top-header .menu-bar .content-container .buttons-set { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #top-header .menu-bar .content-container [name$='menu-search'] { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
#top-header .menu-bar .content-container .logo { margin-right: 2.5rem; -webkit-transform: translateX(-0.7rem); transform: translateX(-0.7rem); }
#top-header .menu-bar .content-container [name$="menu-search"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 50rem; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container [name$="menu-search"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: none; margin-top: 2.5rem; } }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] { margin-right: 1rem; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe:hover, #top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"] { font-size: 1.6rem; height: 2rem; background-color: transparent; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-webkit-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus:-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::placeholder { opacity: 0; }
#top-header .menu-bar .content-container .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 28rem; margin-left: 3rem; }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-left: 1.5rem; } }
@media (max-width: 46.8125em) { #top-header .menu-bar .content-container .buttons-set button { max-width: 2rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button { margin-right: 1.5rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button[name="help"], #top-header .menu-bar .content-container .buttons-set button[name="history"] { display: none; } }
#top-header .menu-bar .content-container .buttons-set button .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container .buttons-set button .icon:hover, #top-header .menu-bar .content-container .buttons-set button .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; cursor: pointer; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon:hover, #top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .menu-container { position: absolute; height: 0; overflow: hidden; }

#employee-management { margin-bottom: 10.5rem; margin-top: 1.4rem; }
#employee-management > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
#employee-management > .content-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 3.5rem; }
@media (max-width: 49.9375em) { #employee-management > .content-container > .heading-container { margin-bottom: 2.5rem; } }
@media (max-width: 37.4375em) { #employee-management > .content-container > .heading-container { margin-bottom: 1.8rem; } }
#employee-management > .content-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.3; }
@media (max-width: 62.4375em) { #employee-management > .content-container > .heading-container .title-container .title { font-size: 2.8rem; } }
@media (max-width: 49.9375em) { #employee-management > .content-container > .heading-container .title-container .title { font-size: 2.4rem; } }
@media (max-width: 37.4375em) { #employee-management > .content-container > .heading-container .title-container .title { font-size: 2rem; } }
#employee-management > .content-container > .heading-container .title-container .title .complement { font-weight: 300; }
@media (max-width: 28.0625em) { #employee-management > .content-container > .heading-container .title-container .title .complement { display: block; } }
#employee-management > .content-container > .heading-container .buttons-set button { display: inline-block; font-size: 2.6rem; font-weight: 700; color: #4788ff; padding: 1.2rem 8rem; background-color: #dbe8ff; border-radius: 0.6rem; font-family: "Montserrat", sans-serif; -webkit-box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); }
@media (max-width: 62.4375em) { #employee-management > .content-container > .heading-container .buttons-set button { font-size: 2rem; } }
@media (max-width: 49.9375em) { #employee-management > .content-container > .heading-container .buttons-set button { font-size: 1.8rem; } }
@media (max-width: 37.4375em) { #employee-management > .content-container > .heading-container .buttons-set button { font-size: 1.4rem; } }
@media (max-width: 62.4375em) { #employee-management > .content-container > .heading-container .buttons-set button { padding: 1rem 6rem; -webkit-box-shadow: 0 .2rem .5rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .5rem hsla( 0, 0%, 0%, .25 ); } }
@media (max-width: 49.9375em) { #employee-management > .content-container > .heading-container .buttons-set button { padding: 0.9rem 4rem; } }
@media (max-width: 37.4375em) { #employee-management > .content-container > .heading-container .buttons-set button { padding: .8rem 2rem; -webkit-box-shadow: 0 .1rem .2rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .1rem .2rem hsla( 0, 0%, 0%, .25 ); } }
@media (max-width: 0em) { #employee-management > .content-container > .heading-container .buttons-set button { padding: 0; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; font-size: 1.2rem; font-weight: 500; } }
@media (max-width: 23.6875em) { #employee-management > .content-container > .heading-container .buttons-set button { padding: 1rem; } }
#employee-management > .content-container > .content-body > .tables-list > li:not(:last-child) { margin-bottom: 3.5rem; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; cursor: default; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table .heading-container { -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 28rem; padding: 1rem; border-radius: 0.6rem 0 0 0.6rem; background-color: #bbd0e2; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table .content-body { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); border-radius: 0 0.6rem 0.6rem 0; }
@media (max-width: 62.4375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #employee-management > .content-container > .content-body > .tables-list > li .employee-table .heading-container { -ms-flex-preferred-size: auto; flex-basis: auto; max-width: unset; border-radius: 0.6rem 0.6rem 0 0; }
  #employee-management > .content-container > .content-body > .tables-list > li .employee-table .content-body { border-radius: 0 0 0.6rem 0.6rem; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container { width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username { font-size: 2.4rem; font-weight: 700; text-transform: capitalize; line-height: 1.3; margin-right: 1.5rem; }
@media (max-width: 49.9375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username { font-size: 2rem; } }
@media (max-width: 24.9375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username { font-size: 1.8rem; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title .surname, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username .surname { display: block; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title .surname::after, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username .surname::after { content: ","; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .title .forename, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container > .username .forename { display: block; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container { cursor: pointer; -webkit-transition: -webkit-transform 1.2s ease-in-out; transition: -webkit-transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out; }
@media (max-width: 43.6875em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container { margin-top: 0; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container .darr { width: 0.8rem; height: 0.8rem; background-color: #616161; border: none; border-radius: initial; -webkit-clip-path: polygon(50% 100%, 100% 0%, 0% 0%); clip-path: polygon(50% 100%, 100% 0%, 0% 0%); width: 1.5rem; }
@supports not ((-webkit-clip-path: polygon(0% 0%)) or (clip-path: polygon(0% 0%))) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container .darr { background: url("../../../multimedia/images/x-small/S-arr-1.png") no-repeat center/auto; } }
@media (max-width: 62.4375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .username .forename, #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .username .surname { display: inline; } }
@media (max-width: 49.9375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container .darr { width: 1.4rem; height: 0.7rem; } }
@media (max-width: 37.4375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container .darr { width: 1.3rem; } }
@media (max-width: 24.9375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .heading-container .username-container .arrow-container .darr { width: 1.1rem; height: 0.6rem; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body { background-color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 43.6875em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list { -ms-flex-preferred-size: 90%; flex-basis: 90%; padding: 2.5rem 0 2.5rem 1.5rem; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list dt { display: block; font-size: 1.4rem; margin-bottom: .5rem; }
@media (max-width: 37.4375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list dt { font-size: 1.3rem; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list dt::after { content: ""; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list dd { display: block; font-size: 2.1rem; font-weight: 700; }
@media (max-width: 37.4375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list dd { font-size: 1.8rem; } }
@media (max-width: 43.6875em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .data-list { padding-left: 0; text-align: center; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; min-width: 40rem; padding: 3.2rem 2rem 1.6rem; border-left: solid .2rem #ededed; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 43.6875em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; min-width: unset; border-left: none; border-top: solid .2rem #ededed; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
@media (max-width: 28.0625em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li { -ms-flex-preferred-size: 33.3%; flex-basis: 33.3%; } }
@media (max-width: 24.9375em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
@media (min-width: 28.125em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li:nth-child(-n + 4) { margin-bottom: 3.5rem; } }
@media (min-width: 43.75em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li:nth-child(-n + 4) { margin-bottom: 2rem; } }
@media (max-width: 28.0625em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li:nth-child(-n + 6) { margin-bottom: 4.5rem; } }
@media (max-width: 28.0625em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li:nth-child(n + 7) { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
@media (max-width: 28.0625em) { #employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li:nth-child(n + 7) .image-container { max-width: 15rem; } }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li .image-container { text-align: center; max-width: 9rem; margin: 0 auto; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li .image-container .option { width: 3.6rem; height: 3.6rem; background-color: #dbe8ff; border: none; border-radius: 0.6rem; margin-bottom: .8rem; cursor: pointer; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li .image-container .option img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#employee-management > .content-container > .content-body > .tables-list > li .employee-table > .content-body .options-list li .image-container .legend { font-size: 1.4rem; font-weight: 400; line-height: 1.25; }

#top-footer { background-color: white; }
#top-footer .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2rem 1.5rem 2rem; margin: 0 auto 0; text-align: center; }
/*# sourceMappingURL=employee-management.css.map */