#top-header .menu-bar { background-color: white; box-shadow: unquote( nth( $bs, 1 ) );
  & .content-container { @include set-grid( 1.2rem, 1.5rem, $default-grid ); @include row-flex( $wrap: wrap );
    @media ( max-width: o-px-to-abs-em( 699px ) ) { @include assign-order( ".logo" ".buttons-set" "[ name$='menu-search' ]" ) }
    & .logo { margin-right: 2.5rem; transform: translateX( -.7rem ) }
    & [ name$="menu-search" ] { @include row-flex( flex-start ); flex-grow: 1; max-width: 50rem;
      @media ( max-width: o-px-to-abs-em( 699px ) ) { flex-basis: 100%; max-width: none; margin-top: 2.5rem }
      & [ type="submit" ] { margin-right: 1rem;
        & .lupe { @include filter-1 } }
      & [ type="search" ] { font-size: 1.6rem; height: 2rem; background-color: transparent; flex-grow: 1;
        @include fade-placeholder( nth( $a-dt, 2 ) ) { @include set-font( 1.6rem, 400, nth( $c-0, 3 ), lowercase ) } } }
    & .buttons-set { @include row-flex; flex-grow: 1; max-width: 28rem; margin-left: 3rem;
      @media ( max-width: o-px-to-abs-em( 419px ) ) { justify-content: flex-end; margin-left: 1.5rem }
      & button {
        @media ( max-width: o-px-to-abs-em( 749px ) ) { max-width: 2rem }
        @media ( max-width: o-px-to-abs-em( 419px ) ) { margin-right: 1.5rem }
        &[ name="help" ], &[ name="history" ] {
          @media ( max-width: o-px-to-abs-em( 419px ) ) { display: none } }
        & .icon { @include filter-1 } }
      & .dropdown-menu {
        & .icon { @include filter-1; cursor: pointer }
        & .menu-container { position: absolute; height: 0; overflow: hidden;
          & .options-list {  } } } } } }
