/* Pré-Configurações Gerais */

@import "../../global/default-presets/rules", "../../global/default-presets/mixins", "../../global/default-presets/functions",
        "../../global/default-presets/animations", "../../global/default-presets/typography";

/* Pré-Configurações do Site */

@import "../../global/site-presets/referrers/variables", "../../global/site-presets/referrers/mixins/general",
        "../../global/site-presets/referrers/mixins/boxes-container", "../../global/site-presets/referrers/mixins/boxes-list",
        "../../global/site-presets/referrers/mixins/data-list", "../../global/site-presets/referrers/mixins/data-tables";

/* Configurações Locais */

body { font: 1.6rem/1 $f-sans-1; color: nth( $c-0, 2 ); background-color: nth( $c-0, 1 );
  @include scrollbar-1 }

/* Componentes */

@import "components/top-header/menu-bar", "components/top-header/intro",
        "components/top-content/client-inquiry-form.scss",
        "components/top-footer/top-footer";
