@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
/* Elementos */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul, menu { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }

input, textarea, select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; background-color: transparent; }

template { display: none; }

/* Atributos & Classes */
[tabindex] { outline: none; }

.line { display: block; }

/* Pré-Configurações do Site */
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.otf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../../../multimedia/fonts/montserrat/montserrat-thin.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-thin.ttf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.ttf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Light"), local("Montserrat-Light"), url("../../../multimedia/fonts/montserrat/montserrat-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-light.ttf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../../multimedia/fonts/montserrat/montserrat-regular.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-regular.ttf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../../multimedia/fonts/montserrat/montserrat-medium.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-medium.ttf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.ttf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../../multimedia/fonts/montserrat/montserrat-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.ttf"); font-weight: 800; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Black"), local("Montserrat-Black"), url("../../../multimedia/fonts/montserrat/montserrat-black.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-black.ttf"); font-weight: 900; font-style: normal; font-stretch: normal; }
/*---- Grades ----*/
/*---- Filtros ----*/
/*---- Componentes ----*/
/*---- Boxes Container ----*/
/*---- Boxes List ----*/
/*---- Data List ----*/
/*---- Data Tables ----*/
/* Configurações Locais */
body { font: 1.6rem/1 "Source Sans Pro", sans-serif; color: #616161; background-color: whitesmoke; }
body #top-content ::-webkit-scrollbar { width: .8rem; height: .8rem; }
body #top-content ::-webkit-scrollbar-thumb { background-image: linear-gradient( 145deg, #4788ff 60%, #315db4 ); border-radius: 0.6rem; -webkit-box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); }
body #top-content ::-webkit-scrollbar-track { background-color: #e3e3e3; }
body #top-content ::-webkit-scrollbar-corner { background-color: #e3e3e3; }

/* Componentes */
#top-header .menu-bar { background-color: white; -webkit-box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); }
#top-header .menu-bar .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 1.2rem 1.5rem 1.2rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container .logo { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #top-header .menu-bar .content-container .buttons-set { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #top-header .menu-bar .content-container [name$='menu-search'] { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
#top-header .menu-bar .content-container .logo { margin-right: 2.5rem; -webkit-transform: translateX(-0.7rem); transform: translateX(-0.7rem); }
#top-header .menu-bar .content-container [name$="menu-search"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 50rem; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container [name$="menu-search"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: none; margin-top: 2.5rem; } }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] { margin-right: 1rem; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe:hover, #top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"] { font-size: 1.6rem; height: 2rem; background-color: transparent; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-webkit-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus:-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::placeholder { opacity: 0; }
#top-header .menu-bar .content-container .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 28rem; margin-left: 3rem; }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-left: 1.5rem; } }
@media (max-width: 46.8125em) { #top-header .menu-bar .content-container .buttons-set button { max-width: 2rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button { margin-right: 1.5rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button[name="help"], #top-header .menu-bar .content-container .buttons-set button[name="history"] { display: none; } }
#top-header .menu-bar .content-container .buttons-set button .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container .buttons-set button .icon:hover, #top-header .menu-bar .content-container .buttons-set button .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; cursor: pointer; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon:hover, #top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .menu-container { position: absolute; height: 0; overflow: hidden; }

#top-header .intro { margin: 2.5rem 0; cursor: default; }
#top-header .intro .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#top-header .intro .content-container .user-displayer { font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.3; margin-right: 2rem; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .user-displayer { font-size: 2.8rem; } }
@media (max-width: 24.9375em) { #top-header .intro .content-container .user-displayer { font-size: 2.4rem; } }
@media (max-width: 34.3125em) { #top-header .intro .content-container .user-displayer { width: 100%; margin-right: 0; text-align: center; } }
#top-header .intro .content-container .user-displayer .static-print { font-weight: 300; }
#top-header .intro .content-container .title-displayer { font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.3; }
#top-header .intro .content-container .title-displayer .complement { font-weight: 300; }
#top-header .intro .content-container .brand-quality { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 34.3125em) { #top-header .intro .content-container .brand-quality { display: none; } }
#top-header .intro .content-container .brand-quality .side-image { margin-right: 1.3rem; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .brand-quality .side-image { width: 5.2rem; } }
#top-header .intro .content-container .brand-quality .text-container { font-size: 1.6rem; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .brand-quality .text-container { font-size: 1.4rem; } }
#top-header .intro .content-container .brand-quality .text-container .highlight { display: block; font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.25; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .brand-quality .text-container .highlight { font-size: 2.8rem; } }
#top-header .intro .content-container .brand-quality .text-container .virtue-list { white-space: nowrap; }
#top-header .intro .content-container .brand-quality .text-container .virtue-list li { display: inline-block; position: relative; }
#top-header .intro .content-container .brand-quality .text-container .virtue-list li:not(:last-child) { margin-right: 1.3rem; }
#top-header .intro .content-container .brand-quality .text-container .virtue-list li:not(:last-child)::after { content: "/"; position: absolute; right: -1rem; }

#client-inquiry-form { margin-bottom: 3.5rem; }
#client-inquiry-form > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 53.0625em) { #client-inquiry-form > .content-container { padding: 0; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input, #client-inquiry-form > .content-container [name="client-inquiry-form"] select, #client-inquiry-form > .content-container [name="client-inquiry-form"] textarea { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; font-weight: 400; width: 100%; border: solid .1rem #ededed; border-radius: 0.6rem; color: #616161; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input, #client-inquiry-form > .content-container [name="client-inquiry-form"] select { padding: 0.8rem; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input, #client-inquiry-form > .content-container [name="client-inquiry-form"] textarea { -webkit-transition: border-color 0.5s ease-out; transition: border-color 0.5s ease-out; caret-color: #315db4; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input:focus, #client-inquiry-form > .content-container [name="client-inquiry-form"] textarea:focus { border-color: #616161; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input:focus::-webkit-input-placeholder { opacity: 0; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input:focus:-ms-input-placeholder { opacity: 0; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input:focus::-ms-input-placeholder { opacity: 0; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input:focus::placeholder { opacity: 0; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] select { background: url("../../../multimedia/images/x-small/S-arr-2.png") no-repeat 95% 50%/1rem auto; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] textarea { padding: 1.6rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] option { color: #616161; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] :invalid, #client-inquiry-form > .content-container [name="client-inquiry-form"] ::-webkit-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] :invalid, #client-inquiry-form > .content-container [name="client-inquiry-form"] :-ms-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] :invalid, #client-inquiry-form > .content-container [name="client-inquiry-form"] ::-ms-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] :invalid, #client-inquiry-form > .content-container [name="client-inquiry-form"] ::placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] .checkbox { display: inline-block; width: 3rem; height: 3rem; background-color: white; border: solid 0.1rem #ededed; border-radius: 0.6rem; -ms-flex-negative: 0; flex-shrink: 0; cursor: pointer; }
@media (max-width: 37.4375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] .checkbox { width: 2.8rem; height: 2.8rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="checkbox"], #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="radio"] { display: none; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="checkbox"]:checked + .checkbox, #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="checkbox"]:checked + label > .checkbox, #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="radio"]:checked + .checkbox, #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="radio"]:checked + label > .checkbox { background-color: #dbe8ff; background-image: url("../../../multimedia/images/x-small/S-check-1b.png"); background-repeat: no-repeat; background-position: center; background-size: auto auto; border-color: transparent; }
@media (max-width: 37.4375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="checkbox"]:checked + .checkbox, #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="checkbox"]:checked + label > .checkbox, #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="radio"]:checked + .checkbox, #client-inquiry-form > .content-container [name="client-inquiry-form"] input[type="radio"]:checked + label > .checkbox { background-size: auto auto; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] label, #client-inquiry-form > .content-container [name="client-inquiry-form"] .input-legend { font-family: inherit; font-size: 1.2rem; font-weight: 400; color: #616161; text-transform: none; width: moz-fit-content; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; margin-left: .4rem; line-height: 1.3; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 0.5rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] .input-legend { margin-bottom: 0.8rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] label > .content { display: inline-block; font-size: 1.8rem; font-weight: 700; margin-left: .7rem; }
@media (max-width: 42.4375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] label > .content { font-size: 1.7rem; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] label > .content { font-size: 1.6rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] label > .content .complement { font-size: 1.2rem; font-weight: 400; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] .input-legend[class~="required"]::after { content: " *"; display: inline-block; margin-left: 0.1rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field { margin-bottom: 2.5rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2.6rem 1.5rem 2.5rem; margin: 0 auto 0; background-color: white; border-radius: 0.6rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .side-icon { width: auto; margin-right: 1rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 2.6rem; font-weight: 700; color: inherit; text-transform: none; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .side-icon { width: 1.9rem; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .title { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .side-icon { width: 1.7rem; margin-right: 0.6rem; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .title { font-size: 2rem; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .side-icon { width: 1.5rem; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container > .heading-container .title-container .title { font-size: 1.8rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .fields-list > li:not(:last-child) { margin-bottom: 2.5rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; background-color: white; -webkit-box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); border-radius: 0.6rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field:not([class~="collapsed"]) { padding: 3.2rem 1.4rem 1.4rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; -ms-flex: 1 1 25%; flex: 1 1 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 3.2rem 1.4rem 1.4rem; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:not(:last-child) { border-right: solid .1rem #ededed; }
@media (min-width: 50em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:nth-child(4n) { border-right: none; } }
@media (max-width: 49.9375em) and (min-width: 25em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:nth-child(2n) { border-right: none; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:nth-child(n) { border-right: none; } }
@media (min-width: 50em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:nth-child(n + 5) { border-top: solid .1rem #ededed; } }
@media (max-width: 49.9375em) and (min-width: 25em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:nth-child(n + 3) { border-top: solid .1rem #ededed; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set:nth-child(n + 2) { border-top: solid .1rem #ededed; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set :not([type="checkbox"])[required]::after, #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set :not([type="radio"])[required] + label::after { content: " *"; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set > .radio-field, #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set > .checkbox-field { width: 100%; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set > .radio-field .input-legend, #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-field .input-set > .checkbox-field .input-legend { margin-left: auto; margin-right: auto; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .input-block > :not(:last-child) { margin-right: 1.2rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container .content-body .inputs-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; }
@media (min-width: 71.875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .client-main-info .input-set { -ms-flex-preferred-size: 20%; flex-basis: 20%; } }
@media (max-width: 71.8125em) and (min-width: 37.5em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .client-main-info .input-set { -ms-flex-preferred-size: 33.3%; flex-basis: 33.3%; } }
@media (min-width: 37.5em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .client-main-info .input-set:nth-child(2n) { border-right: solid .1rem #ededed; } }
@media (max-width: 71.8125em) and (min-width: 37.5em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .client-main-info .input-set:nth-child(3n) { border-right: none; } }
@media (max-width: 71.8125em) and (min-width: 37.5em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .client-main-info .input-set:nth-child(n + 4) { border-top: solid .1rem #ededed; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .referring .permissions { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="demographics"] .content-body .fields-list > li .referring .permissions .checkbox-field { max-width: 9.5rem; margin-right: 1rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess .inquiry-reason { min-width: 27.5rem; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess .inquiry-reason { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess > :nth-child(n) { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess > :not(:first-child) { border-top: solid .1rem #ededed; } }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess > :nth-child(2) { border-right: solid .1rem #ededed; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess > :nth-child(2) { border-right: none; } }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .client-assess > :not(:nth-child(2)) { border-right: none; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 26.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li { -ms-flex-preferred-size: calc( 50% - 1.5rem ); flex-basis: calc( 50% - 1.5rem ); }
@media (max-width: 26.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (min-width: 26.25em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li:nth-child(odd) { margin-right: 1.5rem; } }
@media (min-width: 40.625em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li:not(:nth-child(n + 9)) { margin-bottom: 0.6rem; } }
@media (max-width: 40.5625em) and (min-width: 500px) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li:not(:nth-child(n + 9)) { margin-bottom: 1.2rem; } }
@media (max-width: 31.1875em) and (min-width: 26.25em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li:not(:nth-child(n + 9)) { margin-bottom: 1.6rem; } }
@media (max-width: 26.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .services-list .inputs-list li:not(:last-child) { margin-bottom: 1.5rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .lead-source .description-of-needs { min-width: 48rem; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .lead-source .description-of-needs { min-width: unset; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; padding-top: 1rem; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .lead-source .description-of-needs .radio-field .input-block { -ms-flex-wrap: wrap; flex-wrap: wrap; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .lead-source .description-of-needs .radio-field .input-block .radio-input { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .lead-source .description-of-needs .radio-field .input-block .radio-input:not(:last-child) { margin-bottom: 1.5rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info { display: block; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info > .radio-field { margin-bottom: 2rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info > .radio-field .input-block { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
@media (max-width: 28.0625em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info > .radio-field .input-block { -ms-flex-wrap: wrap; flex-wrap: wrap; } }
@media (max-width: 28.0625em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info > .radio-field .input-block .radio-input { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 28.0625em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info > .radio-field .input-block .radio-input:not(:last-child) { margin-bottom: 1.5rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2rem; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .side-icon { width: auto; margin-right: 1rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 2.6rem; font-weight: 700; color: inherit; text-transform: none; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .side-icon { width: auto; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .title { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .side-icon { width: auto; margin-right: 0.6rem; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .title { font-size: 2rem; } }
@media (max-width: 24.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .side-icon { width: auto; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container .title { font-size: 1.8rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .insurance-info .insurance-providers > .heading-container .title-container { margin-left: 2.5rem; margin-bottom: 1.8rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .phone-related { display: block; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .phone-related > .heading-container { margin-left: 1.4rem; margin-bottom: 1rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .phone-related > .heading-container .title { font-size: 1.8rem; font-weight: 700; }
@media (max-width: 42.4375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .phone-related > .heading-container .title { font-size: 1.7rem; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .phone-related > .heading-container .title { font-size: 1.6rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="questions"] .content-body .fields-list li .phone-related > .content-body .inputs-list .input-set { padding-top: 1.8rem; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .response-time { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .notes { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field > :nth-child(n) { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .response-time { border-right: none; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .response-time .radio-field .input-legend { margin-left: 0; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .response-time .radio-field .input-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .response-time .radio-field .input-block > :not(:last-child) { margin-bottom: 0.4rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .response-time .radio-field .input-block .radio-input label { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; line-height: 1; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .notes { -ms-flex-item-align: start; align-self: flex-start; border-right: none; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .notes { border-top: solid .1rem #ededed; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-left: solid .1rem #ededed; }
@media (max-width: 49.9375em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents { border-left: none; border-top: none; } }
@media (max-width: 31.1875em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents { border-top: solid .1rem #ededed; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents .checkbox-field { max-width: 10rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents .checkbox-field:not(:last-child) { margin-right: 2rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .form-field .box-container[class~="other"] .content-body .input-field .received-documents .checkbox-field .input-legend { margin-left: 0; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 53.0625em) { #client-inquiry-form > .content-container [name="client-inquiry-form"] > .buttons-set { padding: 0 1.5rem; } }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .buttons-set button { display: inline-block; font-size: 1.6rem; font-weight: 700; color: #4788ff; padding: 0.8rem 1.2rem; background-color: #dbe8ff; border-radius: 0.6rem; }
#client-inquiry-form > .content-container [name="client-inquiry-form"] > .buttons-set button:not(:last-child) { margin-right: 2.5rem; }

#top-footer { background-color: white; }
#top-footer .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2rem 1.5rem 2rem; margin: 0 auto 0; text-align: center; }

/*# sourceMappingURL=new-client-inquiry.css.map */