#top-header .intro { margin: 2.5rem 0; cursor: default;
  & .content-container { @include set-grid( $grid: $default-grid ); @include row-flex;
    & .user-displayer { @include title-4( 749px 399px ); margin-right: 2rem;
      @media ( max-width: o-px-to-abs-em( 549px ) ) { width: 100%; margin-right: 0; text-align: center }
      & .user-name {  }
      & .static-print { font-weight: 300 } }
    & .title-displayer { @include title-4;
      & .complement { font-weight: 300 } }
    & .brand-quality { @include row-flex( flex-start, flex-end );
      @media ( max-width: o-px-to-abs-em( 549px ) ) { display: none }
      & .side-image { margin-right: 1.3rem;
        @media ( max-width: o-px-to-abs-em( 749px ) ) { width: 5.2rem } }
      & .text-container { font-size: 1.6rem;
        @media ( max-width: o-px-to-abs-em( 749px ) ) { font-size: 1.4rem }
        & .opening-text {  }
        & .highlight { display: block; @include set-font( 3.2rem, 700, $family: $f-sans-2 ); line-height: 1.25;
          @media ( max-width: o-px-to-abs-em( 749px ) ) { font-size: 2.8rem } }
        & .virtue-list { white-space: nowrap;
          & li { display: inline-block;  @include topic-separator( 1.3rem, 1rem, "/" ) } } } } } }
