@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
/* Elementos */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul, menu { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }

input, textarea, select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; background-color: transparent; }

template { display: none; }

/* Atributos & Classes */
[tabindex] { outline: none; }

.line { display: block; }

/* Pré-Configurações do Site */
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-extra-light.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-semi-bold.otf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Source Sans Pro"; src: url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.woff2"), url("../../../multimedia/fonts/source-sans-pro/source-sans-pro-black.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../../../multimedia/fonts/montserrat/montserrat-thin.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-thin.ttf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-light.ttf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Light"), local("Montserrat-Light"), url("../../../multimedia/fonts/montserrat/montserrat-light.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-light.ttf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../../multimedia/fonts/montserrat/montserrat-regular.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-regular.ttf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../../multimedia/fonts/montserrat/montserrat-medium.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-medium.ttf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-semi-bold.ttf"); font-weight: 600; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../../multimedia/fonts/montserrat/montserrat-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-extra-bold.ttf"); font-weight: 800; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Black"), local("Montserrat-Black"), url("../../../multimedia/fonts/montserrat/montserrat-black.woff2"), url("../../../multimedia/fonts/montserrat/montserrat-black.ttf"); font-weight: 900; font-style: normal; font-stretch: normal; }
/*---- Grades ----*/
/*---- Filtros ----*/
/*---- Componentes ----*/
/*---- Boxes Container ----*/
/*---- Boxes List ----*/
/*---- Data List ----*/
/*---- Data Tables ----*/
/* Configurações Locais */
body { font: 1.6rem/1 "Source Sans Pro", sans-serif; color: #616161; background-color: whitesmoke; }
body #top-content ::-webkit-scrollbar { width: .8rem; height: .8rem; }
body #top-content ::-webkit-scrollbar-thumb { background-image: linear-gradient( 145deg, #4788ff 60%, #315db4 ); border-radius: 0.6rem; -webkit-box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); box-shadow: 0 0 .3rem .1rem hsla( 0, 0%, 0%, 0.25 ); }
body #top-content ::-webkit-scrollbar-track { background-color: #e3e3e3; }
body #top-content ::-webkit-scrollbar-corner { background-color: #e3e3e3; }

/* Componentes */
#top-header .menu-bar { background-color: white; -webkit-box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); box-shadow: 0.3rem 0 1rem hsla( 0, 0%, 0%, .15 ); }
#top-header .menu-bar .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 1.2rem 1.5rem 1.2rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container .logo { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #top-header .menu-bar .content-container .buttons-set { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #top-header .menu-bar .content-container [name$='menu-search'] { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
#top-header .menu-bar .content-container .logo { margin-right: 2.5rem; -webkit-transform: translateX(-0.7rem); transform: translateX(-0.7rem); }
#top-header .menu-bar .content-container [name$="menu-search"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 50rem; }
@media (max-width: 43.6875em) { #top-header .menu-bar .content-container [name$="menu-search"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: none; margin-top: 2.5rem; } }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] { margin-right: 1rem; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe:hover, #top-header .menu-bar .content-container [name$="menu-search"] [type="submit"] .lupe :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"] { font-size: 1.6rem; height: 2rem; background-color: transparent; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bfbfbf; text-transform: lowercase; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-webkit-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus:-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::-ms-input-placeholder { opacity: 0; }
#top-header .menu-bar .content-container [name$="menu-search"] [type="search"]:focus::placeholder { opacity: 0; }
#top-header .menu-bar .content-container .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 28rem; margin-left: 3rem; }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-left: 1.5rem; } }
@media (max-width: 46.8125em) { #top-header .menu-bar .content-container .buttons-set button { max-width: 2rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button { margin-right: 1.5rem; } }
@media (max-width: 26.1875em) { #top-header .menu-bar .content-container .buttons-set button[name="help"], #top-header .menu-bar .content-container .buttons-set button[name="history"] { display: none; } }
#top-header .menu-bar .content-container .buttons-set button .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; }
#top-header .menu-bar .content-container .buttons-set button .icon:hover, #top-header .menu-bar .content-container .buttons-set button .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon { -webkit-filter: grayscale(100%) brightness(175%); filter: grayscale(100%) brightness(175%); -webkit-transition: -webkit-filter 0.6s ease-in-out; transition: -webkit-filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out; transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out; cursor: pointer; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon:hover, #top-header .menu-bar .content-container .buttons-set .dropdown-menu .icon :focus { -webkit-filter: unset; filter: unset; }
#top-header .menu-bar .content-container .buttons-set .dropdown-menu .menu-container { position: absolute; height: 0; overflow: hidden; }

#top-header .intro { margin: 2.5rem 0; cursor: default; }
#top-header .intro .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#top-header .intro .content-container .user-displayer { font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.3; margin-right: 2rem; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .user-displayer { font-size: 2.8rem; } }
@media (max-width: 24.9375em) { #top-header .intro .content-container .user-displayer { font-size: 2.4rem; } }
@media (max-width: 34.3125em) { #top-header .intro .content-container .user-displayer { width: 100%; margin-right: 0; text-align: center; } }
#top-header .intro .content-container .user-displayer .static-print { font-weight: 300; }
#top-header .intro .content-container .title-displayer { font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.3; }
#top-header .intro .content-container .title-displayer .complement { font-weight: 300; }
#top-header .intro .content-container .brand-quality { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 34.3125em) { #top-header .intro .content-container .brand-quality { display: none; } }
#top-header .intro .content-container .brand-quality .side-image { margin-right: 1.3rem; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .brand-quality .side-image { width: 5.2rem; } }
#top-header .intro .content-container .brand-quality .text-container { font-size: 1.6rem; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .brand-quality .text-container { font-size: 1.4rem; } }
#top-header .intro .content-container .brand-quality .text-container .highlight { display: block; font-family: "Montserrat", sans-serif; font-size: 3.2rem; font-weight: 700; color: inherit; text-transform: none; line-height: 1.25; }
@media (max-width: 46.8125em) { #top-header .intro .content-container .brand-quality .text-container .highlight { font-size: 2.8rem; } }
#top-header .intro .content-container .brand-quality .text-container .virtue-list { white-space: nowrap; }
#top-header .intro .content-container .brand-quality .text-container .virtue-list li { display: inline-block; position: relative; }
#top-header .intro .content-container .brand-quality .text-container .virtue-list li:not(:last-child) { margin-right: 1.3rem; }
#top-header .intro .content-container .brand-quality .text-container .virtue-list li:not(:last-child)::after { content: "/"; position: absolute; right: -1rem; }

#top-header .result-type .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 53.0625em) { #top-header .result-type .content-container { padding: 0; } }
#top-header .result-type .content-container .result-description { font-size: 1.6rem; }
@media (max-width: 24.9375em) { #top-header .result-type .content-container .result-description { font-size: 1.4rem; } }
#top-header .result-type .content-container .result-description dt { display: block; margin-bottom: 1rem; }
@media (max-width: 53.0625em) { #top-header .result-type .content-container .result-description dt { margin-left: 1.5rem; } }
#top-header .result-type .content-container .result-description dd .date-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; padding: 2rem 1.4rem; border: solid 0.1rem whitesmoke; background-color: white; border-radius: 0.6rem; cursor: default; }
#top-header .result-type .content-container .result-description dd .date-container .side-icon { margin-right: 2.4rem; }
@media (max-width: 24.9375em) { #top-header .result-type .content-container .result-description dd .date-container .side-icon { margin-right: 1.2rem; } }
#top-header .result-type .content-container .result-description dd .date-container .message { font-size: 1.6rem; font-weight: 400; line-height: 1.2; }

#performance-management { margin-top: 1.5rem; margin-bottom: 3.5rem; }
#performance-management > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 53.0625em) { #performance-management > .content-container { padding: 0; } }
#performance-management > .content-container .box-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2.6rem 1.5rem 1.6rem; margin: 0 auto 0; background-color: white; border-radius: 0.6rem; }
#performance-management > .content-container .box-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2rem; -webkit-transition: margin 1.2s ease-in-out; transition: margin 1.2s ease-in-out; }
#performance-management > .content-container .box-container > .heading-container .title-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#performance-management > .content-container .box-container > .heading-container .title-container .side-icon { width: auto; margin-right: 1rem; }
#performance-management > .content-container .box-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 2.6rem; font-weight: 700; color: inherit; text-transform: none; }
@media (max-width: 49.9375em) { #performance-management > .content-container .box-container > .heading-container .title-container .side-icon { width: auto; }
  #performance-management > .content-container .box-container > .heading-container .title-container .title { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #performance-management > .content-container .box-container > .heading-container .title-container .side-icon { width: 1.8rem; margin-right: 0.6rem; }
  #performance-management > .content-container .box-container > .heading-container .title-container .title { font-size: 2rem; } }
@media (max-width: 24.9375em) { #performance-management > .content-container .box-container > .heading-container .title-container .side-icon { width: 1.5rem; }
  #performance-management > .content-container .box-container > .heading-container .title-container .title { font-size: 1.8rem; } }
#performance-management > .content-container .box-container > .heading-container > .arrow-container { cursor: pointer; -webkit-transition: -webkit-transform 1.2s ease-in-out; transition: -webkit-transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out; }
#performance-management > .content-container .box-container > .heading-container > .arrow-container .darr { width: 1rem; height: 1rem; background-color: #bababa; border: none; border-radius: initial; -webkit-clip-path: polygon(50% 100%, 100% 0%, 0% 0%); clip-path: polygon(50% 100%, 100% 0%, 0% 0%); width: 1.3rem; height: 0.8rem; }
@supports not ((-webkit-clip-path: polygon(0% 0%)) or (clip-path: polygon(0% 0%))) { #performance-management > .content-container .box-container > .heading-container > .arrow-container .darr { background: url("../../../multimedia/images/x-small/S-arr-2.png") no-repeat center/auto; } }
@media (max-width: 24.9375em) { #performance-management > .content-container .box-container > .heading-container .title-container .title .removable { display: none; } }
#performance-management > .content-container .box-container > .content-body > .main-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 78.0625em) and (min-width: 67.5em) { #performance-management > .content-container .box-container > .content-body > .main-content { -ms-flex-pack: distribute; justify-content: space-around; } }
@media (max-width: 62.4375em) { #performance-management > .content-container .box-container > .content-body > .main-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: justify; align-content: space-between; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 117.5rem; }
@media (max-width: 78.0625em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set { max-width: 80rem; } }
@media (max-width: 62.4375em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-width: none; margin-bottom: 1.5rem; } }
@media (max-width: 46.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-line-pack: space-evenly; align-content: space-evenly; max-height: 58.5rem; } }
@media (max-width: 34.3125em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set { -ms-flex-line-pack: justify; align-content: space-between; } }
@media (max-width: 31.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set { max-height: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; } }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li { -ms-flex-preferred-size: 33.2%; flex-basis: 33.2%; margin-bottom: 1.5rem; }
@media (max-width: 78.0625em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li { -ms-flex-preferred-size: 25rem; flex-basis: 25rem; } }
@media (max-width: 53.0625em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li { -ms-flex-preferred-size: 22.5rem; flex-basis: 22.5rem; } }
@media (max-width: 46.1875em), (max-width: 31.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li { -ms-flex-preferred-size: auto; flex-basis: auto; width: 26rem; } }
@media (max-width: 37.4375em) and (min-width: 31.25em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li { width: 22rem; } }
@media (max-width: 78.0625em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li:not(:nth-child(3n)) { margin-right: 2rem; } }
@media (max-width: 67.4375em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li:not(:nth-child(3n)) { margin-right: 0.5rem; } }
@media (max-width: 46.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li:not(:nth-child(3n)) { margin-right: 0; } }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: normal; align-content: normal; color: white; height: 12.8rem; max-width: 27rem; padding: 1.6rem 1.3rem 3.2rem; border: solid .2rem #ededed; border-radius: 0.6rem; margin: 0 auto; cursor: default; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box[class~="green"] { background-color: #80ad10; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box[class~="blue"] { background-color: #4c81eb; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .heading-container { margin-bottom: 1.6rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .heading-container .title { font-size: 2.1rem; font-weight: 700; line-height: 1.3; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement:not(:last-of-type) { margin-right: 3.5rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dt { display: block; font-size: 1.5rem; margin-bottom: .4rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dt::after { content: ":"; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dd .assertion, #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dd [value], #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dd .separator, #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dd time { font-size: 2.6rem; font-weight: 700; line-height: 1.25; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dd .complement { font-size: 1.3rem; font-weight: 400; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement dd .call-to-action { font-size: 1.5rem; font-weight: 400; text-decoration: underline; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box[class~="centered"] .heading-container, #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box[class~="centered"] .measurement-container { margin-left: auto; margin-right: auto; }
@media (max-width: 53.0625em) and (min-width: 46.25em), (max-width: 37.4375em) and (min-width: 31.25em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box { padding-left: .8rem; padding-right: 0.8rem; } }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement:not(:last-of-type) { margin-right: 3.5rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement[class~="old-notes"] time { margin-right: 3.5rem; }
@media (max-width: 53.0625em) { #performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .measurement-list .measurement[class~="old-notes"] time { margin-right: 1.2rem; } }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .progress-circle { width: 10rem; height: 10rem; background-color: transparent; border: solid 0.4rem white; border-radius: 50%; position: relative; -webkit-clip-path: inset(1.5rem 0 0); clip-path: inset(1.5rem 0 0); -webkit-transform: rotate(-60deg) translate(0.5rem, -0.5rem); transform: rotate(-60deg) translate(0.5rem, -0.5rem); }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .progress-circle .measurement { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(60deg); transform: translate(-50%, -50%) rotate(60deg); text-align: center; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .progress-circle .measurement [value] { display: block; font-size: 2.6rem; font-weight: 700; margin-bottom: 0.7rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .boxes-set > li .box .measurement-container .progress-circle .measurement .complement { font-size: 1.4rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0.01rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs { -ms-flex-preferred-size: auto; flex-basis: auto; -ms-flex-negative: 0; flex-shrink: 0; margin: 0 2.6rem; }
@media (max-width: 67.4375em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs { margin-right: 0; } }
@media (max-width: 62.4375em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs { margin-left: 0; width: 90%; } }
@media (max-width: 46.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs { width: 100%; } }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; height: 100%; }
@media (max-width: 62.4375em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 46.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list { -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
@media (max-width: 31.1875em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }
@media (max-width: 21.8125em) { #performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list li { margin-bottom: 1.5rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list li:not(:last-child) { margin-bottom: 4rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list li .graph .title { font-size: 2.1rem; font-weight: 700; margin-bottom: 1rem; }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list li .graph .measurement-container { position: relative; }
#performance-management > .content-container .box-container > .content-body > .main-content .rounded-graphs .graphs-list li .graph .measurement-container [value] { font-size: 3.6rem; font-weight: 700; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#performance-management > .content-container .box-container > .content-body > .additional-info { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 130rem; padding: 1.5rem 0 0; margin: 0 auto 0; }
#performance-management > .content-container .box-container > .content-body > .additional-info .expand-option { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; padding-bottom: 1.7rem; background: -webkit-gradient( linear, left top, right top, from(#ededed), to(#ededed) ) no-repeat 0% 100%/0 0.2rem; background: linear-gradient( 90deg, #ededed, #ededed ) no-repeat 0% 100%/0 0.2rem; -webkit-transition: background-size 1.2s ease-in-out; transition: background-size 1.2s ease-in-out; }
#performance-management > .content-container .box-container > .content-body > .additional-info .expand-option > .arrow-container { cursor: pointer; -webkit-transition: -webkit-transform 1.2s ease-in-out; transition: -webkit-transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out; margin-right: 2.5rem; margin-top: 0.3rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .expand-option > .arrow-container .darr { width: 1rem; height: 1rem; background-color: #bababa; border: none; border-radius: initial; -webkit-clip-path: polygon(50% 100%, 100% 0%, 0% 0%); clip-path: polygon(50% 100%, 100% 0%, 0% 0%); width: 1.3rem; height: 0.8rem; }
@supports not ((-webkit-clip-path: polygon(0% 0%)) or (clip-path: polygon(0% 0%))) { #performance-management > .content-container .box-container > .content-body > .additional-info .expand-option > .arrow-container .darr { background: url("../../../multimedia/images/x-small/S-arr-2.png") no-repeat center/auto; } }
#performance-management > .content-container .box-container > .content-body > .additional-info .expand-option .action { font-size: 2.1rem; cursor: default; }
#performance-management > .content-container .box-container > .content-body > .additional-info .expand-option[class~="disabled"] { color: #bfbfbf; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#performance-management > .content-container .box-container > .content-body > .additional-info .expand-option[class~="disabled"] .arrow-container { -webkit-filter: brightness(125%); filter: brightness(125%); cursor: default; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields { height: 0; overflow: hidden; -webkit-transition: height 1.2s ease-in-out; transition: height 1.2s ease-in-out; position: relative; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports { padding: 1.6rem 0 0; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: normal; align-content: normal; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li { -ms-flex-preferred-size: 30.2rem; flex-basis: 30.2rem; margin: 0 .6rem 2rem; -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box { width: 100%; height: 100%; background-color: white; border: solid 0.1rem #ebedf0; border-radius: 0.6rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; padding: 1.2rem; background-color: #ebedf0; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .title { font-size: 2rem; font-weight: 400; }
@media (max-width: 49.9375em) { #performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .title { font-size: 1.8rem; } }
@media (max-width: 24.9375em) { #performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .title { font-size: 1.6rem; } }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li { display: inline-block; cursor: pointer; font-size: 2rem; font-weight: 400; }
@media (max-width: 49.9375em) { #performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li { font-size: 1.8rem; } }
@media (max-width: 24.9375em) { #performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li { font-size: 1.6rem; } }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li:not(:last-child) { margin-right: 2.4rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="more"] { width: 1.8rem; height: 1.8rem; background-color: transparent; border: solid 0.2rem #4c81eb; border-radius: 50%; position: relative; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="more"] .plus { width: 1rem; height: 0.2rem; background-color: #4c81eb; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="more"] .plus::after { content: ""; display: inline-block; width: 1rem; height: 0.2rem; background-color: #4c81eb; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"] { position: relative; width: 1.4rem; height: 1.4rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"] .x { width: 1.4rem; height: 0.3rem; background-color: #c9c9c9; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); -webkit-transition: background-color 0.5s ease-out; transition: background-color 0.5s ease-out; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"] .x::after { content: ""; display: inline-block; width: 1.4rem; height: 0.3rem; background-color: #c9c9c9; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"] .x::after { -webkit-transition: inherit; transition: inherit; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"]:hover .x, #performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"]:focus .x { background-color: #d11f2e; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"]:hover .x::after, #performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box > .heading-container .options-list li[class~="close"]:focus .x::after { background-color: #d11f2e; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; max-height: 40rem; padding: 1.8rem 1.2rem; overflow: auto; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li { padding-bottom: 1.2rem; border-bottom: solid .1rem #e8e8e8; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li:not(:last-child) { margin-bottom: 1.4rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report { font-size: 1.3rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report > .heading-container { margin-bottom: 1rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report > .heading-container .date-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: .9rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report > .heading-container .date-info .ilustration { margin-right: 0.6rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report > .heading-container .date-info time { margin-top: .1rem; cursor: default; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report > .heading-container .title { font-size: 1.5rem; font-weight: 600; letter-spacing: -.015rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report > .heading-container .title::after { content: ":"; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list { letter-spacing: -.015rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set .date { display: block; margin-bottom: .6rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set .date::after { content: ""; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set dt { cursor: default; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set > dd { font-weight: 600; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set > dd .data-list > .data-set > dt { font-weight: 600; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set > dd .info:not(:last-child) { margin-bottom: 0.8rem; }
#performance-management > .content-container .box-container > .content-body > .additional-info .hidden-fields .user-reports .boxes-list > li > .report-box .content-body .reports-list > li .report .info-list .data-set:not(:last-child) { margin-bottom: 1.2rem; }
#performance-management > .content-container .box-container[class~="extended"] > .heading-container { margin-bottom: 2rem; }
#performance-management > .content-container .box-container[class~="extended"] > .heading-container .arrow-container { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
#performance-management > .content-container .box-container[class~="extended"] .content-body[class~="extended"] > .additional-info .expand-option { background-size: 100% .2rem; }
#performance-management > .content-container .box-container[class~="extended"] .content-body[class~="extended"] > .additional-info .expand-option .arrow-container { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

#manage-waitlist { margin-bottom: 3.5rem; }
#manage-waitlist > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 53.0625em) { #manage-waitlist > .content-container { padding: 0; } }
#manage-waitlist > .content-container > .box-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2.6rem 1.5rem 3.6rem; margin: 0 auto 0; background-color: white; border-radius: 0.6rem; }
#manage-waitlist > .content-container > .box-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2rem; }
#manage-waitlist > .content-container > .box-container > .heading-container .title-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#manage-waitlist > .content-container > .box-container > .heading-container .title-container .side-icon { width: 2.4rem; margin-right: 1rem; }
#manage-waitlist > .content-container > .box-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 2.6rem; font-weight: 700; color: inherit; text-transform: none; }
@media (max-width: 49.9375em) { #manage-waitlist > .content-container > .box-container > .heading-container .title-container .side-icon { width: 2.4rem; }
  #manage-waitlist > .content-container > .box-container > .heading-container .title-container .title { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #manage-waitlist > .content-container > .box-container > .heading-container .title-container .side-icon { width: 2.3rem; margin-right: 0.6rem; }
  #manage-waitlist > .content-container > .box-container > .heading-container .title-container .title { font-size: 2rem; } }
@media (max-width: 24.9375em) { #manage-waitlist > .content-container > .box-container > .heading-container .title-container .side-icon { width: 2.3rem; }
  #manage-waitlist > .content-container > .box-container > .heading-container .title-container .title { font-size: 1.8rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .date-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; padding: 2rem 1.4rem; border: solid 0.1rem whitesmoke; background-color: white; border-radius: 0.6rem; cursor: default; margin-bottom: 1.2rem; }
#manage-waitlist > .content-container > .box-container > .content-body .date-container .side-icon { margin-right: 2.4rem; }
@media (max-width: 24.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .date-container .side-icon { margin-right: 1.2rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .date-container .message { font-size: 1.6rem; font-weight: 400; line-height: 1.2; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2.6rem; }
@media (max-width: 31.1875em) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set { min-width: 16rem; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 32rem; }
@media (max-width: 62.4375em) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set { -ms-flex-preferred-size: 45%; flex-basis: 45%; max-width: 40rem; } }
@media (max-width: 31.1875em) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set:not(:last-child) { margin-right: .8rem; }
@media (max-width: 62.4375em) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set:not(:last-child) { margin-right: 0; } }
@media (max-width: 31.1875em) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set:not(:last-child) { margin-bottom: 2rem; } }
@media (max-width: 62.4375em) and (min-width: 500px) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set:nth-child(-n + 2) { margin-bottom: 2rem; } }
@media (max-width: 62.4375em) and (min-width: 500px) { #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set:nth-child(2n + 1) { margin-right: 0.8rem; } }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set select, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set textarea { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; font-weight: 400; width: 100%; border: solid 0.1rem whitesmoke; border-radius: 0.6rem; color: #616161; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set select { padding: 1.8rem 1.2rem; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set textarea { -webkit-transition: border-color 0.5s ease-out; transition: border-color 0.5s ease-out; caret-color: #315db4; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input:focus, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set textarea:focus { border-color: #616161; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input::-webkit-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input:-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input::-ms-input-placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input::placeholder { -webkit-transition: opacity 0.8s ease-out; transition: opacity 0.8s ease-out; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input:focus::-webkit-input-placeholder { opacity: 0; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input:focus:-ms-input-placeholder { opacity: 0; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input:focus::-ms-input-placeholder { opacity: 0; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input:focus::placeholder { opacity: 0; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input[name$="-age"], #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input[name$="-date"] { background: url("../../../multimedia/images/x-small/S-calendar-1.png") no-repeat 5% 50%/auto; text-indent: 3.2rem; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set input[name$="-time"] { background: url("../../../multimedia/images/x-small/S-alarm-1b.png") no-repeat 5% 50%/auto; text-indent: 3.2rem; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set select { background: url("../../../multimedia/images/x-small/S-arr-2.png") no-repeat 95% 50%/1rem auto; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set textarea { padding: 1.2rem 1.6rem; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set option { color: #616161; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set :invalid, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set ::-webkit-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set :invalid, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set :-ms-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set :invalid, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set ::-ms-input-placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set :invalid, #manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set ::placeholder { font-family: inherit; font-size: 1.6rem; font-weight: 400; color: #bababa; text-transform: none; }
#manage-waitlist > .content-container > .box-container > .content-body [name="waitlist-form"] > .input-set > label { display: none; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li:not(:last-child) { margin-bottom: 3rem; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; cursor: default; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user .heading-container { -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 15rem; padding: 1rem; border-radius: 0.6rem 0 0 0.6rem; background-color: #bbd0e2; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user .content-body { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); box-shadow: 0 0rem 1rem hsla( 0, 0%, 0%, .12 ); border-radius: 0 0.6rem 0.6rem 0; }
@media (max-width: 71.8125em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user .heading-container { -ms-flex-preferred-size: auto; flex-basis: auto; max-width: unset; border-radius: 0.6rem 0.6rem 0 0; }
  #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user .content-body { border-radius: 0 0 0.6rem 0.6rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username { font-size: 2.4rem; font-weight: 700; text-transform: capitalize; line-height: 1.3; margin-right: 1.5rem; }
@media (max-width: 49.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username { font-size: 2rem; } }
@media (max-width: 24.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username { font-size: 1.8rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title .surname, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username .surname { display: block; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title .surname::after, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username .surname::after { content: ","; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .title .forename, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container > .username .forename { display: block; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container .arrow-container { cursor: pointer; -webkit-transition: -webkit-transform 1.2s ease-in-out; transition: -webkit-transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out; transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out; }
@media (max-width: 43.6875em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container .arrow-container { margin-top: 0; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container .arrow-container .darr { width: 0.9rem; height: 0.9rem; background-color: #616161; border: none; border-radius: initial; -webkit-clip-path: polygon(50% 100%, 100% 0%, 0% 0%); clip-path: polygon(50% 100%, 100% 0%, 0% 0%); width: 1.3rem; }
@supports not ((-webkit-clip-path: polygon(0% 0%)) or (clip-path: polygon(0% 0%))) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container .arrow-container .darr { background: url("../../../multimedia/images/x-small/S-arr-1.png") no-repeat center/auto; } }
@media (max-width: 71.8125em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container .username .forename, #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .heading-container .username-container .username .surname { display: inline; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: normal; align-content: normal; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list dt { display: block; font-size: 1.4rem; margin-bottom: .5rem; }
@media (max-width: 37.4375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list dt { font-size: 1.3rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list dt::after { content: ""; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list dd { display: block; font-size: 1.9rem; font-weight: 700; }
@media (max-width: 37.4375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list dd { font-size: 1.7rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set { -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 16.6%; flex-basis: 16.6%; padding: 0 2.5rem; }
@media (max-width: 84.3125em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set { padding-left: .8rem; padding-right: 0.8rem; } }
@media (max-width: 59.3125em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set { -ms-flex-preferred-size: 25%; flex-basis: 25%; } }
@media (max-width: 40.5625em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set { -ms-flex-preferred-size: 33.3%; flex-basis: 33.3%; } }
@media (max-width: 29.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:first-child { min-height: 7.2rem; }
@media (max-width: 59.3125em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:first-child { min-height: unset; } }
@media (min-width: 59.375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(-n + 6) { border-bottom: solid .2rem #ededed; } }
@media (max-width: 59.3125em) and (min-width: 40.625em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(-n + 8) { border-bottom: solid .2rem #ededed; } }
@media (max-width: 40.5625em) and (min-width: 30em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(-n + 9) { border-bottom: solid .2rem #ededed; } }
@media (max-width: 29.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(-n + 10) { border-bottom: solid .2rem #ededed; } }
@media (min-width: 59.375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:not(:nth-child(6n)) { border-right: solid .2rem #ededed; } }
@media (max-width: 59.3125em) and (min-width: 40.625em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:not(:nth-child(4n)) { border-right: solid .2rem #ededed; } }
@media (max-width: 40.5625em) and (min-width: 30em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:not(:nth-child(3n)) { border-right: solid .2rem #ededed; } }
@media (max-width: 29.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:not(:nth-child(2n)) { border-right: solid .2rem #ededed; } }
@media (min-width: 59.375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(6n) { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }
@media (max-width: 59.3125em) and (min-width: 40.625em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(4n) { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }
@media (max-width: 40.5625em) and (min-width: 30em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(3n) { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }
@media (max-width: 29.9375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:nth-child(2n) { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set:last-child { border-right: none; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dt { margin-top: 1.5rem; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd { font-size: 1.4rem; font-weight: 700; margin-bottom: 1rem; }
@media (max-width: 37.4375em) { #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd { font-size: 1.3rem; } }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .positive { display: inline-block; font-size: inherit; font-weight: 700; color: #4788ff; padding: 0.4rem 0.6rem; background-color: #dbe8ff; border-radius: 0.6rem; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .negative { display: inline-block; font-size: inherit; font-weight: 700; color: #fa617f; padding: 0.4rem 0.6rem; background-color: #fee1e7; border-radius: 0.6rem; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .highlight { color: #fa617f; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li { width: 2.2rem; height: 2.2rem; background-color: transparent; border: none; border-radius: 0.6rem; cursor: pointer; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li .icon { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 0; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li .icon img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li:not(:last-child) { margin-right: 0.8rem; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li[class~="close"], #manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li[class~="edit"] { background-color: #fee1e7; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user > .content-body .data-list .data-set dd .action-options li[class~="message"] { background-color: #dbe8ff; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user[class~="highlight"] .heading-container { background-color: #fee1e7; }
#manage-waitlist > .content-container > .box-container > .content-body .form-results .results-list > li .wailist-user[class~="highlight"] .heading-container .username-container { color: #fa617f; }

#scheduling-boxes { margin-bottom: 10.5rem; }
#scheduling-boxes > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 144.8rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 53.0625em) { #scheduling-boxes > .content-container { padding: 0; } }
#scheduling-boxes > .content-container > .boxes-list > li:not(:last-child) { margin-bottom: 3.5rem; }
#scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2.6rem 1.5rem 2.5rem; margin: 0 auto 0; background-color: white; border-radius: 0.6rem; }
#scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 0; }
#scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .side-icon { width: 2rem; margin-right: 1rem; }
#scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 2.6rem; font-weight: 700; color: inherit; text-transform: none; }
@media (max-width: 49.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .side-icon { width: 1.9rem; }
  #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .title { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .side-icon { width: 1.9rem; margin-right: 0.6rem; }
  #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .title { font-size: 2rem; } }
@media (max-width: 24.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .side-icon { width: 1.7rem; }
  #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .title-container .title { font-size: 1.8rem; } }
#scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { display: inline-block; font-size: 2.6rem; font-weight: 700; color: #4788ff; padding: 1.2rem 8rem; background-color: #dbe8ff; border-radius: 0.6rem; font-family: "Montserrat", sans-serif; -webkit-box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .8rem hsla( 0, 0%, 0%, .25 ); }
@media (max-width: 49.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { font-size: 2rem; } }
@media (max-width: 37.4375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { font-size: 1.8rem; } }
@media (max-width: 29.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { font-size: 1.4rem; } }
@media (max-width: 49.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { padding: 1rem 6rem; -webkit-box-shadow: 0 .2rem .5rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .2rem .5rem hsla( 0, 0%, 0%, .25 ); } }
@media (max-width: 37.4375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { padding: 0.9rem 4rem; } }
@media (max-width: 29.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { padding: .8rem 2rem; -webkit-box-shadow: 0 .1rem .2rem hsla( 0, 0%, 0%, .25 ); box-shadow: 0 .1rem .2rem hsla( 0, 0%, 0%, .25 ); } }
@media (max-width: 23.6875em) { #scheduling-boxes > .content-container > .boxes-list > li .box1 .box-container > .heading-container .buttons-set [name$="-show"] { padding: 0; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; font-size: 1.2rem; font-weight: 500; } }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2.6rem 1.5rem 0.5rem; margin: 0 auto 0; background-color: white; border-radius: 0.6rem; }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; margin-bottom: 2.4rem; }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .side-icon { width: 2rem; margin-right: 1rem; }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .title { font-family: "Montserrat", sans-serif; font-size: 2.6rem; font-weight: 700; color: inherit; text-transform: none; }
@media (max-width: 49.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .side-icon { width: 1.9rem; }
  #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .title { font-size: 2.3rem; } }
@media (max-width: 37.4375em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .side-icon { width: 1.9rem; margin-right: 0.6rem; }
  #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .title { font-size: 2rem; } }
@media (max-width: 24.9375em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .side-icon { width: 1.7rem; }
  #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .heading-container .title-container .title { font-size: 1.8rem; } }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; }
@media (max-width: 40.5625em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list > li { font-size: 1.6rem; margin-bottom: 2rem; }
@media (max-width: 23.6875em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list > li { font-size: 1.5rem; } }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list > li:not(:last-child) { margin-right: 1.6rem; }
@media (max-width: 23.6875em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list > li:not(:last-child) { margin-right: 1.3rem; } }
#scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list > li .report { display: inline-block; font-size: inherit; font-weight: 700; color: #4788ff; padding: 0.7rem 1rem; background-color: #dbe8ff; border-radius: 0.6rem; cursor: pointer; }
@media (max-width: 23.6875em) { #scheduling-boxes > .content-container > .boxes-list > li .box2 .box-container > .content-body > .reports-list > li .report { padding: 0.6rem 0.8rem; } }

#top-footer { background-color: white; }
#top-footer .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 141.8rem; padding: 2rem 1.5rem 2rem; margin: 0 auto 0; text-align: center; }

/*# sourceMappingURL=administrative-assistant-dashboard.css.map */