#reauthorization-queue { margin-bottom: nth( map-get( $mar, sections ), 2 );
  & > .content-container { @include set-default-grid;
    & > .box-container { @include container-1( 2.5rem );
      @include heading-2 {
        & .title-container {
          & .side-icon {
            @media ( max-width: o-px-to-abs-em( 599px ) ) { width: 2.2rem }
            @media ( max-width: o-px-to-abs-em( 399px ) ) { width: 2rem } } } }
      & > .content-body { @include hidden-field-1;
        & .date-container { @include container-2; margin-bottom: 1.8rem }
        & .queue-list {
          & > li {
            &:not( :last-child ) { margin-bottom: nth( map-get( $mar, sections ), 1 ) }
            & .queue-user { @include box-1( 1149px, 15rem );
              & .heading-container { @include column-flex( center );
                & .username-container { @include container-3( center, 1.5rem );
                  & .username {
                    & .forename, & .surname {
                      @media ( max-width: o-px-to-abs-em( 1149px ) ) { display: inline } } } } }
              & .content-body {
                & .data-list { @include data-list-1 } } } } } }
      &[ class~="extended" ] {
        & > .heading-container { margin-bottom: 2rem;
          & .arrow-container { transform: rotate( 180deg ) } } } } } }
